<a href="https://colab.research.google.com/github/Jamestssh/Data-Analysis-with-pandas-python/blob/main/R2DE3_Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R2DE 3.0 - Basic Python

[bit.ly/r2de3-basic-python](https://bit.ly/r2de3-basic-python)

## Hello World in Python in Colab

Colab เป็นเว็บที่ทำให้เรารันไฟล์ Python Notebook (หรือที่เราเรียกกันว่า Jupyter Notebook) ได้อย่างง่าย

In [ ]:
print("Hello World!")

Hello World!

# Python Basic

## 1) Print: การแสดงผล
คำสั่ง print() ใช้สำหรับแสดงผลข้อความ หรือตัวแปรออกมาในตอนรัน


ถ้าเป็น string จะต้องอยู่ในเครื่องหมาย “” หรือ ‘’ เสมอ สามารถต่อหลาย string ได้ด้วยเครื่องหมาย +

In [ ]:
print("hello" + "world")
print("hello" + " " + "world")
print("hello", "world", "!", "R2DE")

helloworld
hello world
hello world ! R2DE

In [ ]:
print("hello", "world!")

hello world!

ใช้กับ single quote ได้ด้วย แต่นิยมใช้ double quote มากกว่า

In [ ]:
print('single quote')

single quote

**Note:** สำหรับการใช้งาน Jupyter Notebook หรือ Colab มีความสามารถในการ แสดงผลตัวแปรในแต่ละช่องออกมาได้เลย ช่วยให้เห็นค่าได้ทันที

(ทำใน Python ไฟล์ .py ปกติไม่ได้)

In [ ]:
"It's easy"

"It's easy"

In [ ]:
5555

5555

## 2) Python Variables: ตัวแปร

การประกาศตัวแปร คือ การตั้งชื่ออ้างอิงถึงข้อมูลที่เก็บอยู่ชั่วคราวใน RAM (มีผลเฉพาะการรันในแต่ละครั้ง)

ตัวแปรในภาษา python สามารถจัดเก็บข้อมูลได้หลายประเภทโดยที่ไม่ต้องประกาศประเภทของตัวแปรก่อน ( เรียกว่า dynamic type)

การประกาศตัวแปรทำได้โดย

> ชื่อตัวแปร  = “ค่าที่ต้องการจัดเก็บ”

int (Integer) เป็นข้อมูลประเภทจำนวนเต็ม

In [ ]:
# Int
a = 1
a

1

str (String) คือข้อมูลประเภทข้อความ

In [ ]:
b = "This ia a String."

bool (Boolean) คือ ค่าความจริง True /False -- สังเกตว่าใน Python ใช้ T และ F ตัวพิมพ์ใหญ่

In [ ]:
c = True

float (Floating Point) คือ จำนวนที่มีทศนิยม

In [ ]:
d = 3.14159

การใช้ comment ในโค้ด คือ โค้ดส่วนที่ python จะไม่สนใจ เอาไว้ เขียนอธิบายในโค้ด

In [ ]:
# This is comment
# print("hello")
# สิ่งที่อยู่หลังเครื่องหมาย # เรียกว่า comment
# คือ Python จะไม่สนใจ comment ใน code

## 3) Type ดูประเภทของตัวแปร

**คำสั่ง** type()เป็นคำสั่งที่ไว้ใช้ตรวจสอบประเภทตัวแปร ว่าเป็นประเภทอะไร

In [ ]:
type(a)

int

In [ ]:
type("Python is easy :)")

str

In [ ]:
type(3.0)

float

**None** คือ ค่า null ในภาษา Python แทนการไม่มีค่า (ค่าว่างเปล่า)

In [ ]:
type(None)

NoneType

## 4) การแปลงประเภทตัวแปร (Type casting)

เราสามารถแปลง ข้อมูลจาก int ที่เป็นตัวเลขจำนวนเต็ม เป็นประเภทอื่นได้ เช่น float หรือ จำนวนจริงได้ ด้วยคำสั่ง `float(ตัวแปร)`

float (Float) เป็นข้อมูลประเภทจำนวนจริง ที่มีจุดทศนิยม

In [ ]:
# Float
float(a)

1.0

แต่ในทางกลับกัน ถ้าแปลงจากทศนิยม กลับเป็น int (จำนวนเต็ม) ทศนิยมจะหายไป โดยไม่มีการปัดเศษ

In [ ]:
# Int
int(3.9)

3

str (String) เป็นข้อมูลประเภท"ข้อความ"

สามารถแปลง ตัวเลขให้เป็นข้อความได้ด้วย str(ตัวแปร)

In [ ]:
# String
str(a)

'1'

การบวก string คือการ นำ string สองอันมาต่อกัน (append)

In [ ]:
str(a) + "1"

'11'

In [ ]:
print(1 + 2 + 3)

6

bool (Boolean) เป็นข้อมูลประเภทค่าความจริง True / False

ข้อความระวัง

In [ ]:
a

1

In [ ]:
bool(a)

True

In [ ]:
bool("False")

True

In [ ]:
bool(0)

False

ถ้าตัวแปรไม่มีค่า (มีค่าเป็น None) จะได้ False

In [ ]:
bool(None)

False

In [ ]:
b = "Python!"
b

'Python!'

ถ้าไม่สามารถแปลงประเภทตัวแปรได้ จะขึ้นว่า ValueError

เช่น ไม่สามารถแปลง string ที่มีข้อความ ตัวอักษร เป็น int หรือ float ได้

In [ ]:
int(b)

ValueError: invalid literal for int() with base 10: 'Python!'

ลองเอามาใช้ร่วมกัน

In [ ]:
# ทบทวนตัวแปร
print(a, type(a))
print(b, type(b))
print(c, type(c))
print(int(d), type(int(d)))

1 <class 'int'>
Python! <class 'str'>
True <class 'bool'>
3 <class 'int'>

# Python Data Structures
## โครงสร้างข้อมูลที่ควรรู้จัก

## 5) List

List เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ เหมือน array คือ จะเก็บข้อมูลไว้เป็นช่อง  โดยจะมี index (หมายเลขประจำช่อง) เริ่มต้นที่ 0 และสามารถเพิ่มเติม (append) หรือแก้ไขข้อมูลใน list ได้ (mutable) ใช้สัญลักษณ์ [ ] แทน list

การสร้าง list สร้างโดยใช้เครื่องหมาย [ ]

In [ ]:
empty_list = []
print(empty_list)

[]

การสร้าง list จากตัวแปรที่สร้างขึ้น

In [ ]:
l = [b, a, a + 1, a + 2]
l

['Python!', 1, 2, 3]

การดูจำนวนสมาชิก (length) ของ list

In [ ]:
len(l)

4

การเรียกดูค่า list ในเฉพาะบางช่อง
![image.png]()

In [ ]:
l[3]

3

In [ ]:
l[0]

'Python!'

การเปลี่ยนแปลง (assign) ค่า ในสมาชิกของ list

In [ ]:
l[3] = 5
l

['Python!', 1, 2, 5]

ถ้าพยามจะเปลี่ยนแปลงข้อมูล โดยที่ index (เลขที่ใช้อ้างอิงลำดับ: เริ่มจาก 0 เสมอ) มีค่ามากกว่า

In [ ]:
# IndexError
l[4] = ":)"

IndexError: list assignment index out of range

ลองดูการเปลี่ยนแปลงของ list

In [ ]:
l

['Python!', 1, 2, 5]

การเพิ่มสมาชิกของ list ต่อท้าย ใช้คำสั่ง append

In [ ]:
l.append(":)")
l

['Python!', 1, 2, 5, ':)']

In [ ]:
len(l)

5

คำสั่ง pop() คือการ remove สมาขิกตัวสุดท้ายของ list

In [ ]:
l.pop()
l

['Python!', 1, 2, 5]

## 6) Tuple
Tuple เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ (คล้ายกับ list) โดยจะมี index เริ่มต้นที่ 0 เช่นกัน แต่ **ไม่สามารถแก้ไข เปลี่ยนแปลงข้อมูลได้ (immutable)  **  ใช้สัญลักษณ์ ( )​ แทน tuple ในการสร้าง

In [ ]:
t = (0, 1, 2, 3, 4)

In [ ]:
len(t)

5

In [ ]:
t[0:3]

(0, 1, 2)

## 7) การใช้เลข index (สำหรับ list, tuple และ string)
ใน  list, tuple, string สามารถใช้เลข index เพื่อเข้าถึงสมาชิกได้ โดย index จะเริ่มจาก 0 และถึง len() - 1 สามารถอ้างอิงเป็นช่วง ได้ด้วยเครื่องหมาย : (colon) โดยช่วงจะเริ่มจาก index ตัวแรก ถึง index ตัวสุดท้ายในช่วง - 1 (ถ้าเว้นไว้คือถึงตัวสุดท้าย) และสามารถใช้เลข index ติดลบแทนการนับจากด้านหลังได้
![image.png]()

การเข้าถึง ข้อมูลตัวสุดท้ายของ tuple

In [ ]:
t[-1]

4

การเข้าถึงข้อมูล ตัวที่สาม จากท้ายสุด จนถึงตัวสุดท้าย

In [ ]:
t[2:]

(2, 3, 4)

In [ ]:
t[-3:]

(2, 3, 4)

Tuple เป็น data structure แบบ immutable คือ ไม่สามารถเปลี่ยนแปลงค่าได้ ถ้าพยายามเปลี่ยนค่าของ tuple จะได้ TypeError

In [ ]:
# TypeError ไม่สามารถแก้ไข tuple ได้
t[4] = 5

TypeError: 'tuple' object does not support item assignment

## 8) Dictionary

Dictionary เป็น data structure ที่เก็บในลักษณะ key - value  ใช้สัญลักษณ์ { } แทน dictionary ในการสร้าง

เช่น
dict = {“key” : “value”}  หรือ

หรือ
dict = {} เพื่อสร้าง dict เปล่า

การสร้าง grade dictionary สำหรับการตัดเกรด

In [ ]:
grade = {
    "A" : 80,
    "B" : 70,
    "C" : 60,
    "D" : 50
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"] = 75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

การสร้าง dictionary ว่าง และเพิ่มหรืออัปเดตค่า key-value

In [ ]:
d = {}
d["s001"] = "Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

## 9) Python String
(String ไม่ใช่ Data Structure นะ แต่มีบางอย่างที่คล้ายคลึงกัน เช่น การใช้ index)


String สำหรับเก็บตัวแปรประเภทข้อความ  สามารถเข้าถึงด้วย index ได้เหมือนกับ list
 สามารถต่อเชื่อม string หลาย ๆ string
ด้วย เครื่องหมาย + หรือ join() ในกรณีที่เป็น list และมีฟังก์ชันอื่น ๆ ที่เกี่ยวกับ string อีกมากมาย
เช่น
* split() การแยก string ด้วย symbol ผลลัพธ์ของการรันจะออกมาเป็น list
* strip()  การลบช่องว่างที่อยู่หน้าหรือหลังสุด

In [ ]:
sentence = " Hello Python. I am ready. "

String จะคล้ายคลึงกับ list ตรงที่สามารถ ดูค่าตาม index ที่ระบุตำแหน่งนั้นได้

In [ ]:
sentence[1]

'H'

การตัดบางช่วงของ string โดยใช้ ใช้เครื่องหมาย : ควบคู่กับ index ดังนี้ `เริ่มต้น:ตัวสุดท้าย+1`

In [ ]:
sentence[1:13]

'Hello Python'

strip คือการลบช่องว่าง หัวท้าย

In [ ]:
sentence.strip()

'Hello Python. I am ready.'

In [ ]:
list_of_words = sentence.strip().split(' ')

In [ ]:
list_of_words

['Hello', 'Python.', 'I', 'am', 'ready.']

In [ ]:
joined = ' '.join(list_of_words)
joined

'Hello Python. I am ready.'

# Loop and Condition



## 10) For loop
ในภาษา Python สามารถวน for loop ตามสมาชิกแต่ละตัวใน object ที่มีลักษณะเป็น list ได้  โดยการวน loop มีการใช้งานดังนี้

```
for temp_var in list_or_range:
    do_something1()
    do_something2()
```

สังเกตว่าบรรทัดหลังจาก for จะมีการ tab (เว้น 4 วรรค) อยู่ด้านหน้า เพื่อเป็นการจัด scope ของ for loop นั้น

In [ ]:
# ทบทวนตัวแปร l ตัวเดิม
l

['Python!', 1, 2, 5]

In [ ]:
for item in l:
  print(item)

Python!
1
2
5

In [ ]:
for i in range(15):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for item in t:
  print(item)

0
1
2
3
4

In [ ]:
t

(0, 1, 2, 3, 4)

## 11) List Comprehension

การวน for loop เพื่อที่จะได้ output ออกมาเป็น list สามารถวนลูปไปในสมาชิกแต่ละตัว ได้ภายใน 1 บรรทัด (แบบย่อ) เทคนิคนี้เรียกว่า list comprehension

In [ ]:
# List Comprehension
list_t = [i for i in t]

In [ ]:
list_t

[0, 1, 2, 3, 4]

In [ ]:
[i ** 2 for i in t]

[0, 1, 4, 9, 16]

In [ ]:
[i + 1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

## 12) If condition

if condition จะทำตามเงื่อนไขต่อเมื่อเป็นจริงเท่านั้น

elif (else if)  คือ เงื่อนไขรอง หาก if แรกไม่เป็นจริง มีกี่อันก็ได้

ถ้าไม่ตรงกรณีไหนเลยจะทำ else (else if และ else สามารถไม่มีก็ได้)

In [ ]:
a == 9

False

In [ ]:
len(t)

5

In [ ]:
if len(t) == 5:
  print('length is 5')
else:
  print('length not equals 5')

length is 5

ตัวอย่างโค้ดการตัดเกรด จากตัวแปร score

In [ ]:
# ทบทวนตัวแปร grade ตัวเดิม
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
grade["A"]

80

In [ ]:
score = 90_000_000
if score >= grade["A"]:
  print("A")
  print("Good Job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

A
Good Job!

# Python Packages

Python Packages คือ การรวบรวม function อื่น ๆ เพิ่มเติมให้สามารถเรียกใช้ได้ มีสองประเภท ได้แก่
1. Built-in package คือ package ที่มาจาก Python สามารถเรียกใช้ได้เลยโดยไม่ต้อง install เพิ่มเติม
2. 3rd party package คือ package อื่น ๆ ที่ถูกพัฒนาเพื่อให้ใช้และติดตั้งได้ฟรี สามารถ install ได้ผ่าน pip ซึ่งเป็น ตัวจัดการ package ของ python คำสั่งในการ install คือ `pip install [ชื่อ package]`

บางครั้ง package ก็เรียกว่าเป็น library ได้เหมือนกัน

มาลอง Hello World! กันด้วยการ import กัน

In [ ]:
import __hello__

Hello world!

## 13) Package สำคัญ ๆ ที่มีมาให้อยู่แล้ว
หรือที่เรียกว่า Built-in Package

### Math

Package สำหรับคำนวณตัวเลข เช่น Log, Exponential และเรียกใช้ค่าสำคัญทางคณิตศาสตร์ เช่น Pi

In [ ]:
import math

math.pi

3.141592653589793

In [ ]:
help(math.exp)

Help on built-in function exp in module math:

exp(x, /)
    Return e raised to the power of x.

In [ ]:
math.sqrt(4)

2.0

นอกจากการ import แบบตรง สามารถ import เฉพาะตัวแปร หรือ fuction ได้เช่นกัน โดยใช้ `from [ชื่อ package] import [ชื่อ function หรือ ตัวแปรที่ต้องการ import]`

In [ ]:
from math import pi

pi

3.141592653589793

### Datetime
Datetime เป็น Package สำหรับจัดการข้อมูลวันเวลา เช่น เวลาในแต่ละ Timezone, ดึงวันเวลาในวันนี้


โดยทั่วไป เวลามักจะเป็นเวลา UTC (Universal Time Coordinated) คือเป็นเวลาตามเวลามาตรฐานโลก ไม่อิงตาม timezone

เวลาประเทศไทย จะเป็นเวลาที่เรียกว่า Indochina Time (ICT) คือ เป็นเวลา UTC + 7 ชั่วโมง

In [ ]:
datetime

NameError: name 'datetime' is not defined

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2024, 5, 18, 9, 10, 48, 12067)

isoformat คือ format มาตรฐานที่นิยมใช้ใน timestamp ที่เก็บไว้บน database / data warehouse

In [ ]:
now.isoformat()

'2024-05-18T09:10:48.012067'

การเรียกดูวันที่วันปัจจุบัน

In [ ]:
today = datetime.date.today()
today

datetime.date(2024, 5, 18)

รูปแบบมาตรฐานของ date คือ YYYY-mm-dd

In [ ]:
today.isoformat()

'2024-05-18'

# Simple functions

Function คือ การกำหนดการคำนวณที่ใช้ซ้ำบ่อย ๆ เพื่อให้เรียกใช้ได้สะดวก
ในการเรียกใช้ Function ผู้ใช้ส่งตัวแปรเข้ามากี่ตัวก็ได้ (เรียกว่า argument หรือ parameter) เช่น height และ width
และสามารถกำหนดค่าในกรณีที่ผู้ใช้ใส่ตัวแปรใน parameter มาไม่ครบ เรียกว่า default parameter (ในตัวอย่างเช่น rate ตัวแปรค่าเงินที่สามารถกำหนดค่า default ได้)
การ return คือการ คืนค่าออกไปเพื่อเป็นผลลัพธ์ชอง function

parameter ของ function คือ ตัวแปรรับเข้าที่เปลี่ยนค่าได้

## 14) การสร้าง function

In [ ]:
def circle_area(radius = 1):
  return pi * radius * radius

circle_area(2)

12.566370614359172

In [ ]:
circle_area()

3.141592653589793

In [ ]:
circle_area(4)

50.26548245743669

In [ ]:
def rectangle_area(height, width):
  return height * width

rectangle_area(4, 5)

20

สร้างฟังก์ชันเพื่อแปลงค่าเงิน โดย rate จะมี default parameter อยู่ที่ 31.33

In [ ]:
def conversion(amount, rate=36.33):
  return amount * rate


conversion(30)

1089.8999999999999

In [ ]:
a = conversion(30)

In [ ]:
a

1089.8999999999999

แต่สามารถปรับเปลี่ยนค่า rate ได้เหมือนฟังก์ชั่นปกติ ถ้าเกิดมีการใส่ rate มา

In [ ]:
conversion(30, 33.3333)

999.999

In [ ]:
def greeting(name):
  a = 44 * 444
  print("hello", name)
  print(f"hi {name}")
  return a

In [ ]:
greeting("Fon")

hello Fon
hi Fon

In [ ]:
a = greeting("Fon")

hello Fon
hi Fon

In [ ]:
a

19536

In [ ]:
type(a)

int

# Working with files การทำงานร่วมกับไฟล์

## Write file การเขียนไฟล์

การเขียนไฟล์ จะใช้คำสั่ง open เพื่อเปิดไฟล์ และเขียนไฟล์ลงไป

"w" ข้างหลัง (write) คือ โหมดของการเปิดไฟล์แบบเขียน ซึ่งจะสร้างไฟล์ใหม่ขึ้นมาเพื่อเขียน

In [ ]:
file = open("output.csv", "w")
file.write("date,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

การวนลูปเขียนไฟล์ จาก list ของ tuple

In [ ]:
",".join(("date", "item", "price"))

'date,item,price'

In [ ]:
header = ("date", "item", "price")
",".join(header) + "\n"

'date,item,price\n'

In [ ]:
header = ("date", "item", "price")
content = [
    ("2020-02-07", "Milk", "26.5"),
    ("2020-02-08", "Water", "7"),
    ("2020-02-08", "Mask", "20"),
    ("2020-02-08", "Lays", "10"),
    ("2020-02-08", "Rice", "6")
]

file = open('products.csv', 'w')
file.write(",".join(header) + "\n")

for row in content:
  file.write(",".join(row) + "\n")

file.close()

## Read file การอ่านไฟล์

การอ่านไฟล์ จะคล้ายคลึงกับ การเขียนไฟล์ตรงที่ต้อง open file เช่นกัน แตกต่างกันที่ mode จะ

In [ ]:
with open("products.csv", "r") as f:
  product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

## 15) การใช้ Python Package สำหรับงาน Data

### Use Pandas to Read/Write file

การอ่านไฟล์ CSV ด้วย Pandas (3rd party package) สำหรับการอ่านและประมวลผลไฟล์ ในลักษณะของตาราง DataFrame

Pandas เป็นที่นิยมใช้ในสาย data มาก เพราะสามารถช่วยให้วิเคราะห์และใช้งาน data ที่เป็น table ใน Python ได้ง่ายขึ้น

เนื่องจากเป็น package ที่ python ไม่มี จึงต่อ import ก่อนด้วย
> import pandas as pd

(Google Colab ได้ install pandas ไว้อัตโนมัติอยู่แล้ว เพราะเป็น package ยอดนิยม)

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

เซฟไฟล์ CSV จาก DataFrame

In [ ]:
df.to_csv("new_data.csv")

In [ ]:
df2 = pd.read_csv("products.csv")
df2

         date   item  price
0  2020-02-07   Milk   26.5
1  2020-02-08  Water    7.0
2  2020-02-08   Mask   20.0
3  2020-02-08   Lays   10.0
4  2020-02-08   Rice    6.0

In [ ]:
df2.to_csv("products_copy.csv")

### JSON

JSON dump = export JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
type(grade)

dict

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50, "B+": 75}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
# Save to output file grade.json
json.dump(grade, open("grade.json", "w"))

JSON load = import JSON

In [ ]:
students = json.loads('{"student1": "Perth", "student2": "Fon"}')
students

{'student1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(students)

dict

In [ ]:
grade1 = json.load(open("grade.json", "r"))

In [ ]:
grade1

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
type(grade1)

dict

# Tips

ข้อควรระหว่างสำหรับการแปลงค่าความจริง ด้วย bool()
เพราะ bool จะแปลงค่าตัวแปรทุกตัวที่มีค่า เป็น True ทั้งหมด

string "False" จริงมีค่าเป็น True เพราะ ไม่ใช่ String ว่าง

In [ ]:
bool("False")

True

การแปลงค่า Boolean ที่ถูกต้อง จึงแนะนำ built-in function `literal_eval` ใน package `ast` เพื่อแปลงค่าที่ถูกต้อง

In [ ]:
import ast
ast.literal_eval("False")

False

In [ ]:
ast.literal_eval("True")

True

In [ ]:
ast.literal_eval("None")

In [ ]:
ast.literal_eval("333")

333

Bonus: แนวคิดการออกแบบ ภาษา Python สามารถดูได้โดยการ `import this`

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Connect to MySQL using PyMysql

In [ ]:
import sqlalchemy

In [ ]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

Connect to Sample DB

In [ ]:
class Config:
  MYSQL_HOST = 'db4free.net'
  MYSQL_PORT = 3306  # default port ของ MySQL คือ 3306
  MYSQL_USER = 'datath'
  MYSQL_PASSWORD = 'DataScience-chillchill'
  MYSQL_DB = 'detraining'
  MYSQL_CHARSET = 'utf8mb4'

In [ ]:
import pymysql.cursors
import pandas as pd

# Connect to the database
connection = pymysql.connect(host=Config.MYSQL_HOST,
                             port=Config.MYSQL_PORT,
                             user=Config.MYSQL_USER,
                             password=Config.MYSQL_PASSWORD,
                             db=Config.MYSQL_DB,
                             cursorclass=pymysql.cursors.DictCursor)

In [ ]:
# list all tables
cursor = connection.cursor()
cursor.execute("show tables;")
tables = cursor.fetchall()
cursor.close()
print(tables)

[{'Tables_in_detraining': 'current_dept_emp'}, {'Tables_in_detraining': 'departments'}, {'Tables_in_detraining': 'dept_emp'}, {'Tables_in_detraining': 'dept_emp_latest_date'}, {'Tables_in_detraining': 'dept_manager'}, {'Tables_in_detraining': 'employees'}, {'Tables_in_detraining': 'online_retail'}, {'Tables_in_detraining': 'salaries'}, {'Tables_in_detraining': 'titles'}]

In [ ]:
# Use with statement instead of cursor.close()
with connection.cursor() as cursor:
  # Read a single record
  sql = "SELECT * FROM online_retail limit 500;"
  cursor.execute(sql)
  result = cursor.fetchall()

print(result)

[{'InvoiceNo': 536365, 'StockCode': '85123A', 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '71053', 'Description': 'WHITE METAL LANTERN', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '84406B', 'Description': 'CREAM CUPID HEARTS COAT HANGER', 'Quantity': 8, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 2.75, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '84029G', 'Description': 'KNITTED UNION FLAG HOT WATER BOTTLE', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '84029E', 'Description': 'RED WOOLLY HOTTIE WHITE HEART.', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '22752', 'Description': 'SET 7 BABUSHKA NESTING BOXES', 'Quantity': 2, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 7.65, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536365, 'StockCode': '21730', 'Description': 'GLASS STAR FROSTED T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:26', 'UnitPrice': 4.25, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536366, 'StockCode': '22633', 'Description': 'HAND WARMER UNION JACK', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:28', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536366, 'StockCode': '22632', 'Description': 'HAND WARMER RED POLKA DOT', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:28', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '84879', 'Description': 'ASSORTED COLOUR BIRD ORNAMENT', 'Quantity': 32, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 1.69, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22745', 'Description': "POPPY'S PLAYHOUSE BEDROOM ", 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 2.1, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22748', 'Description': "POPPY'S PLAYHOUSE KITCHEN", 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 2.1, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22749', 'Description': 'FELTCRAFT PRINCESS CHARLOTTE DOLL', 'Quantity': 8, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 3.75, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22310', 'Description': 'IVORY KNITTED MUG COSY ', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 1.65, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '84969', 'Description': 'BOX OF 6 ASSORTED COLOUR TEASPOONS', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.25, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22623', 'Description': 'BOX OF VINTAGE JIGSAW BLOCKS ', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '22622', 'Description': 'BOX OF VINTAGE ALPHABET BLOCKS', 'Quantity': 2, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 9.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '21754', 'Description': 'HOME BUILDING BLOCK WORD', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 5.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '21755', 'Description': 'LOVE BUILDING BLOCK WORD', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 5.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '21777', 'Description': 'RECIPE BOX WITH METAL HEART', 'Quantity': 4, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 7.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536367, 'StockCode': '48187', 'Description': 'DOORMAT NEW ENGLAND', 'Quantity': 4, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 7.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536368, 'StockCode': '22960', 'Description': 'JAM MAKING SET WITH JARS', 'Quantity': 6, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.25, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536368, 'StockCode': '22913', 'Description': 'RED COAT RACK PARIS FASHION', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536368, 'StockCode': '22912', 'Description': 'YELLOW COAT RACK PARIS FASHION', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536368, 'StockCode': '22914', 'Description': 'BLUE COAT RACK PARIS FASHION', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:34', 'UnitPrice': 4.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536369, 'StockCode': '21756', 'Description': 'BATH BUILDING BLOCK WORD', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:35', 'UnitPrice': 5.95, 'CustomerID': 13047, 'Country': 'United Kingdom'}, {'InvoiceNo': 536370, 'StockCode': '22728', 'Description': 'ALARM CLOCK BAKELIKE PINK', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 3.75, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22727', 'Description': 'ALARM CLOCK BAKELIKE RED ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 3.75, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22726', 'Description': 'ALARM CLOCK BAKELIKE GREEN', 'Quantity': 12, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 3.75, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21724', 'Description': 'PANDA AND BUNNIES STICKER SHEET', 'Quantity': 12, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.85, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21883', 'Description': 'STARS GIFT TAPE ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.65, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '10002', 'Description': 'INFLATABLE POLITICAL GLOBE ', 'Quantity': 48, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.85, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21791', 'Description': 'VINTAGE HEADS AND TAILS CARD GAME ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 1.25, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21035', 'Description': 'SET/2 RED RETROSPOT TEA TOWELS ', 'Quantity': 18, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 2.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22326', 'Description': 'ROUND SNACK BOXES SET OF4 WOODLAND ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 2.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22629', 'Description': 'SPACEBOY LUNCH BOX ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 1.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22659', 'Description': 'LUNCH BOX I LOVE LONDON', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 1.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22631', 'Description': 'CIRCUS PARADE LUNCH BOX ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 1.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22661', 'Description': 'CHARLOTTE BAG DOLLY GIRL DESIGN', 'Quantity': 20, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.85, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21731', 'Description': 'RED TOADSTOOL LED NIGHT LIGHT', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 1.65, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22900', 'Description': ' SET 2 TEA TOWELS I LOVE LONDON ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 2.95, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '21913', 'Description': 'VINTAGE SEASIDE JIGSAW PUZZLES', 'Quantity': 12, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 3.75, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22540', 'Description': 'MINI JIGSAW CIRCUS PARADE ', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.42, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22544', 'Description': 'MINI JIGSAW SPACEBOY', 'Quantity': 24, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.42, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': '22492', 'Description': 'MINI PAINT SET VINTAGE ', 'Quantity': 36, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 0.65, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536370, 'StockCode': 'POST', 'Description': 'POSTAGE', 'Quantity': 3, 'InvoiceDate': '1/12/2018 08:45', 'UnitPrice': 18.0, 'CustomerID': 12583, 'Country': 'France'}, {'InvoiceNo': 536371, 'StockCode': '22086', 'Description': "PAPER CHAIN KIT 50'S CHRISTMAS ", 'Quantity': 80, 'InvoiceDate': '1/12/2018 09:00', 'UnitPrice': 2.55, 'CustomerID': 13748, 'Country': 'United Kingdom'}, {'InvoiceNo': 536372, 'StockCode': '22632', 'Description': 'HAND WARMER RED POLKA DOT', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:01', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536372, 'StockCode': '22633', 'Description': 'HAND WARMER UNION JACK', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:01', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '85123A', 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '71053', 'Description': 'WHITE METAL LANTERN', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '84406B', 'Description': 'CREAM CUPID HEARTS COAT HANGER', 'Quantity': 8, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 2.75, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '20679', 'Description': 'EDWARDIAN PARASOL RED', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 4.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '37370', 'Description': 'RETRO COFFEE MUGS ASSORTED', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '21871', 'Description': 'SAVE THE PLANET MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '21071', 'Description': 'VINTAGE BILLBOARD DRINK ME MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '21068', 'Description': 'VINTAGE BILLBOARD LOVE/HATE MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '82483', 'Description': 'WOOD 2 DRAWER CABINET WHITE FINISH', 'Quantity': 2, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 4.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '82486', 'Description': 'WOOD S/3 CABINET ANT WHITE FINISH', 'Quantity': 4, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 6.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '82482', 'Description': 'WOODEN PICTURE FRAME WHITE FINISH', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 2.1, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '82494L', 'Description': 'WOODEN FRAME ANTIQUE WHITE ', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '84029G', 'Description': 'KNITTED UNION FLAG HOT WATER BOTTLE', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '84029E', 'Description': 'RED WOOLLY HOTTIE WHITE HEART.', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '22752', 'Description': 'SET 7 BABUSHKA NESTING BOXES', 'Quantity': 2, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 7.65, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536373, 'StockCode': '21730', 'Description': 'GLASS STAR FROSTED T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:02', 'UnitPrice': 4.25, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536374, 'StockCode': '21258', 'Description': 'VICTORIAN SEWING BOX LARGE', 'Quantity': 32, 'InvoiceDate': '1/12/2018 09:09', 'UnitPrice': 10.95, 'CustomerID': 15100, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '85123A', 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '71053', 'Description': 'WHITE METAL LANTERN', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '84406B', 'Description': 'CREAM CUPID HEARTS COAT HANGER', 'Quantity': 8, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 2.75, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '20679', 'Description': 'EDWARDIAN PARASOL RED', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 4.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '37370', 'Description': 'RETRO COFFEE MUGS ASSORTED', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '21871', 'Description': 'SAVE THE PLANET MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '21071', 'Description': 'VINTAGE BILLBOARD DRINK ME MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '21068', 'Description': 'VINTAGE BILLBOARD LOVE/HATE MUG', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 1.06, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '82483', 'Description': 'WOOD 2 DRAWER CABINET WHITE FINISH', 'Quantity': 2, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 4.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '82486', 'Description': 'WOOD S/3 CABINET ANT WHITE FINISH', 'Quantity': 4, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 6.95, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '82482', 'Description': 'WOODEN PICTURE FRAME WHITE FINISH', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 2.1, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '82494L', 'Description': 'WOODEN FRAME ANTIQUE WHITE ', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 2.55, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '84029G', 'Description': 'KNITTED UNION FLAG HOT WATER BOTTLE', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '84029E', 'Description': 'RED WOOLLY HOTTIE WHITE HEART.', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 3.39, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '22752', 'Description': 'SET 7 BABUSHKA NESTING BOXES', 'Quantity': 2, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 7.65, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536375, 'StockCode': '21730', 'Description': 'GLASS STAR FROSTED T-LIGHT HOLDER', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 4.25, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536376, 'StockCode': '22114', 'Description': 'HOT WATER BOTTLE TEA AND SYMPATHY', 'Quantity': 48, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 3.45, 'CustomerID': 15291, 'Country': 'United Kingdom'}, {'InvoiceNo': 536376, 'StockCode': '21733', 'Description': 'RED HANGING HEART T-LIGHT HOLDER', 'Quantity': 64, 'InvoiceDate': '1/12/2018 09:32', 'UnitPrice': 2.55, 'CustomerID': 15291, 'Country': 'United Kingdom'}, {'InvoiceNo': 536377, 'StockCode': '22632', 'Description': 'HAND WARMER RED POLKA DOT', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:34', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536377, 'StockCode': '22633', 'Description': 'HAND WARMER UNION JACK', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:34', 'UnitPrice': 1.85, 'CustomerID': 17850, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '22386', 'Description': 'JUMBO BAG PINK POLKADOT', 'Quantity': 10, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 1.95, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '85099C', 'Description': 'JUMBO  BAG BAROQUE BLACK WHITE', 'Quantity': 10, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 1.95, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '21033', 'Description': 'JUMBO BAG CHARLIE AND LOLA TOYS', 'Quantity': 10, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 2.95, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '20723', 'Description': 'STRAWBERRY CHARLOTTE BAG', 'Quantity': 10, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 0.85, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '84997B', 'Description': 'RED 3 PIECE RETROSPOT CUTLERY SET', 'Quantity': 12, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 3.75, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '84997C', 'Description': 'BLUE 3 PIECE POLKADOT CUTLERY SET', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 3.75, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '21094', 'Description': 'SET/6 RED SPOTTY PAPER PLATES', 'Quantity': 12, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 0.85, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '20725', 'Description': 'LUNCH BAG RED RETROSPOT', 'Quantity': 10, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 1.65, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '21559', 'Description': 'STRAWBERRY LUNCH BOX WITH CUTLERY', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 2.55, 'CustomerID': 14688, 'Country': 'United Kingdom'}, {'InvoiceNo': 536378, 'StockCode': '22352', 'Description': 'LUNCH BOX WITH CUTLERY RETROSPOT ', 'Quantity': 6, 'InvoiceDate': '1/12/2018 09:37', 'UnitPrice': 2.55, 'CustomerID': 14688, 'Country': 'U

In [ ]:
print(type(result))
print(len(result))

<class 'list'>
500

In [ ]:
result[0]

{'InvoiceNo': 536365,
 'StockCode': '85123A',
 'Description': 'WHITE HANGING HEART T-LIGHT HOLDER',
 'Quantity': 6,
 'InvoiceDate': '1/12/2018 08:26',
 'UnitPrice': 2.55,
 'CustomerID': 17850,
 'Country': 'United Kingdom'}

In [ ]:
retail = pd.DataFrame(result)
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,1/12/2018 08:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,1/12/2018 08:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,1/12/2018 08:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,1/12/2018 08:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,1/12/2018 08:26,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
495,536409,21811,CHRISTMAS HANGING HEART WITH BELL,1,1/12/2018 11:45,1.25,17908,United Kingdom
496,536409,22183,CAKE STAND VICTORIAN FILIGREE MED,1,1/12/2018 11:45,6.75,17908,United Kingdom
497,536409,21678,PAISLEY PATTERN STICKERS,6,1/12/2018 11:45,0.85,17908,United Kingdom
498,536409,21676,FLOWERS STICKERS,6,1/12/2018 11:45,0.85,17908,United Kingdom
499,536409,84625A,PINK NEW BAROQUECANDLESTICK CANDLE,1,1/12/2018 11:45,2.95,17908,United Kingdom