# Section 1 : Intro to Jupyter Notebook
- Below, please find my super fancy algorithm

In [1]:
4+9

13

In [2]:
3+2

5

In [3]:
1+1 
2-2
3*3

9

In [4]:
1+1 
2-2
3*3

9

In [5]:
1+1 
2-2
3*3

9

In [6]:
1+1 
2-2
3*3

9

# Importing Libraries into Jupyter Notebook

- Import pandas library
- Import numpy library

In [7]:
import pandas as pd

In [8]:
import numpy as np

- Check pandas version

In [9]:
pd.__version__

'1.5.3'

# Section 2 : Python Crash Course

##### 2.1. การใช้ Comment

In [10]:
# Solve mathematical expression using Python
#1+1
2+2
#3+3

4

##### 2.2 Basic Data Types
#Integer #Date #float #String #Boolean #None etc.

In [11]:
#Integer
2
3
0

0

In [12]:
#float
3.14
9.99
-10.11

-10.11

In [13]:
#string
"James"
"139.99"
"$139.99 dollars!"
""

''

In [14]:
#Boolean
False
True

#expression of boolean
10>12

False

In [15]:
#None datatype represents nothing.
None

##### 2.3. Operators

#+ - x /

In [16]:
5+3

8

In [17]:
10-10

0

In [18]:
9*999

8991

In [19]:
64/8
#the answer is always float datatype

8.0

In [20]:
64//8

8

In [21]:
14/3

4.666666666666667

In [22]:
14 //3  #ตัดเศษทิ้งเลย

4

In [23]:
x = 10
y = 3
remainder = x % y 
print(remainder)
#เศษหาร  = 1

1

In [24]:
#Concenation 

"James "+"<3"+" Pang"

'James <3 Pang'

In [1]:
"D"+("D"*10)+"D"

'DDDDDDDDDDDD'

In [26]:
10 -5

5

In [27]:
#Parenthesis Exponents Multiplication Division Addition Subtraction
#PEMDAS
#วงเล็บ > ยกกำลัง > คูณ > หาร > บวก > ลบ 

3 + 4 * 5 
#จะได้ 4*5 ก่อน แล้วค่อยบวก 3 ตามลำดับ

23

In [28]:
1==1

True

In [29]:
1 == 1.0

True

True

In [30]:
5 == 2

False

In [31]:
#case sensitive
"Hello" == "hello"

False

In [32]:
5 != 5

False

In [33]:
5 != 10

True

In [34]:
5 <= 8

True

In [35]:
5 <= -2

False

In [36]:
10 >= 100

False

##### 2.4. Variables

In [37]:
age = 24

In [38]:
age + 5 
#24+5

29

In [39]:
age

24

In [40]:
age = age+5

In [41]:
age

29

In [42]:
price = 19.99
first_name = 'Thanabodee'
profession = 'DBA'
is_handsome = True
# snake_case คือ การใช้ _ ในการต่อคำ

In [43]:
first_name + " is awesome"

'Thanabodee is awesome'

Note that the evaluation always takes place on the right side of the equal sign (=) first

In [44]:
age = age + 5

In [45]:
profession = 'Oracle DBA'

In [46]:
profession

'Oracle DBA'

In [47]:
#age=29
age

34

##### 2.5. Built-in Functions

In [48]:
a = "How many characters do we have here?"

In [49]:
b=len(a)
print(a+" answer = "+str(b))

How many characters do we have here? answer = 36

In [50]:
str(3.14)

'3.14'

In [51]:
int(str(3.1))

ValueError: invalid literal for int() with base 10: '3.1'

In [ ]:
int(str(3))

In [ ]:
float(str(3.1))

In [ ]:
type(True)

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(3.14)

In [ ]:
type(10)==type(15)

In [ ]:
type(10)==type('15')

##### 2.6. Custom Functions

- Declare a function that accepts a temparature in Celcius and returns it in fahrenheit

In [ ]:
def convert_to_fahrenhiet(celsius_temp):
    F = ((celsius_temp)*1.8) + 32
    return F

In [ ]:
convert_to_fahrenhiet(0)

In [ ]:
convert_to_fahrenhiet()

In [ ]:
convert_to_fahrenhiet(celsius_temp=24)

In [ ]:
convert_to_fahrenhiet(100)

In [ ]:
#give a explicit default value ด้วยการ ใส่ celsius_temp = 0 ไว้
def convert_celcius_to_fahrenhiet(celsius_temp = 0):
    F = ((celsius_temp)*1.8) + 32
    return F

In [ ]:
convert_celcius_to_fahrenhiet()

# 2.7. String Methods

In [ ]:
profession = 'Developer'
profession.upper()

In [ ]:
profession.upper()

In [ ]:
"Developer".upper()

In [ ]:
profession.lower()

In [ ]:
profession.swapcase()

In [ ]:
#immutable คือ incapable of change (เปลี่ยนรูปไม่ได้)
#mutable คือ capable of change (เปลี่ยนรูปได้)

#string = immutable (เปลี่ยนรูปไม่ได้)
#profession = 'Developer' (เปลี่ยน original string ไม่ได้)
#เวลาเปลี่ยน python จะสร้าง new string object ขึ้นมาใน memory ไม่ได้เปลี่ยนแปลง original string แต่อย่างใด ทำให้มันเรียกว่า immutable object

profession
#จะเห็นได้ว่า Original string ยังเป็น 'Developer' อยู่ ไม่ได้เปลี่ยนแปลงไปตาม  profession.swapcase() แต่อย่างใด

In [ ]:
"once upon a time".title()

In [ ]:
"once upon a time".capitalize()

In [ ]:
"ronald mcdonald".title()

In [ ]:
profession2= "     Developer     "

In [ ]:
profession2.lstrip()

In [ ]:
profession2.rstrip()

In [ ]:
profession2.strip()

In [ ]:
profession2.replace('e','*')

In [ ]:
profession2.strip().replace('e','*')

In [ ]:
profession2.replace('e','*').strip()

In [ ]:
animal = "rhinoceros"

In [ ]:
animal.startswith('rhino')

In [ ]:
animal.startswith('kiminoto')

In [ ]:
animal.startswith('r')
animal.startswith('R')
#case sensitive !!!!!!!!!!!!!!!!!!

In [ ]:
"ino" in animal

In [ ]:
"r" in animal

In [ ]:
"ceros" in animal

In [ ]:
"z" in animal

In [ ]:
"z" not in animal

In [ ]:
check = "z" in animal

In [ ]:
party_attendees = "Sharon, James, Ron, Blake"
is_attending = "Ron" in party_attendees

In [ ]:
is_attending

In [ ]:
print(is_attending)

##### 2.8. Lists
- Mutable data stucture (แก้ไขโครงสร้างของ data ได้) that holds an ordered collection of elements

In [ ]:
order = [1,'eiei',3,4,5]

In [ ]:
order[0]

In [ ]:
order[1]

In [ ]:
type(order[1])

In [ ]:
[True, False, False, True]

In [ ]:
party_attendees = ['Michael','Freddy', 'Jason']

In [ ]:
len(party_attendees)

In [ ]:
len([])

In [ ]:
len(party_attendees)

In [ ]:
type([])

In [ ]:
type(party_attendees)

In [ ]:
presidents = ["Washington","Jefferson"]

In [ ]:
presidents.append(2)

In [ ]:
presidents

In [ ]:
presidents.remove(presidents[2])

In [ ]:
presidents

In [ ]:
presidents.append("Madison")

In [ ]:
popcorn = ["Salted","Unsalted","Caramel"]

In [ ]:
popcorn

In [ ]:
popcorn.pop()
#remove the last element

In [ ]:
popcorn.remove('Unsalted')

In [ ]:
popcorn

In [ ]:
"cat" in "caterpillar"

In [ ]:
planets = ["Mercury","Venus","Earth","Mars"]

In [ ]:
"Earth" in planets

In [ ]:
"earth" in planets
#case-sensitive

In [ ]:
"Mars" not in planets

##### 2.9. Index Postions and Slicing

In [ ]:
spiderman = 'Spiderman'

In [ ]:
spiderman(0)

In [ ]:
spiderman[0]

In [ ]:
spiderman[1]

In [ ]:
spiderman[-1]

In [ ]:
spiderman[-9]

In [ ]:
#  0  1  2  3  4  5  6  7  8 
#  S  p  i  d  e  r  m  a  n
# -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
len(spiderman)

In [ ]:
spiderman[0:6]

In [ ]:
spiderman[:]
# ความหมายคือตั้งแต่ ตำแหน่งแรก จนถึงตำแหน่งสุดท้าย

In [ ]:
spiderman[-8:]
# ความหมายคือตั้งแต่ ตำแหน่ง -8 จนถึงตำแหน่งสุดท้าย // [-8:)

In [ ]:
spiderman[2:200]
# ความหมายคือตั้งแต่ ตำแหน่ง 2 แต่ไม่เกินตำแหน่งที่ 100 // [2:100)

In [ ]:
spiderman[-9 : -7]
# ความหมายคือตั้งแต่ ตำแหน่ง -9 แต่น้อยกว่าตำแหน่ง -7 // [-9:-7)

In [ ]:
superheros = ["Batman","Superman","Wolverine","Ironman","Arnold Schwarzenger"]

In [ ]:
# "Batman","Superman","Wolverine","Ironman","Arnold Schwarzenger"]
#  0      , 1        , 2         , 3       , 4                   
# -5      , -4       , -3        ,-2       , -1

In [ ]:
len(superheros)

In [ ]:
superheros[0]

In [ ]:
superheros[-3]

In [ ]:
superheros[1:3]
# ความหมายคือตั้งแต่ ตำแหน่ง 1 แต่น้อยกว่าตำแหน่ง 3 // [1:3)

In [ ]:
superheros[-5:-4]
# ความหมายคือตั้งแต่ ตำแหน่ง -5 แต่น้อยกว่าตำแหน่ง -4 // [-5:-4)

In [ ]:
superheros[2:100]

In [ ]:
superheros[-5:100]

In [ ]:
superheros[:-1]

In [ ]:
Batman = superheros[0]

In [ ]:
Batman

##### 2.10. Dictionaries
- An unordered collection of key-value paires

In [ ]:
# Filet migon = 29.99 
menu = {
    "Filet migon" : 29.99,
    "Big Mac" : 3.99,
    "Pizza" : 0.99,
    "Salmon" : 29.99
}

In [ ]:
len(menu)

In [ ]:
menu

In [ ]:
menu['Big Mac']

In [ ]:
menu["salmon"]

In [ ]:
menu["Salmon"]
#case-sensitive

In [ ]:
menu["Burrito"] = 13.99

In [ ]:
menu

In [ ]:
menu[1]

In [ ]:
menu['Big Mac'] = 5.99

In [ ]:
menu

In [ ]:
menu.pop('Big Mac')

In [ ]:
menu

In [ ]:
"Pizza" in menu 
#check among the key in key-value

In [ ]:
"Pizza" not in menu 
#check among the key in key-value

In [ ]:
29.99 in menu.values()
#check among the value in key-value

In [ ]:
5.99 not in menu.values()
#check among the value in key-value

In [ ]:
8%3
#เศษหาร

# Section 3 : Series
- Combine a list and dictionary concept เข้าด้วยกัน

##### 3.1. Create Jupyter Notebook for the Sereis Module

In [ ]:
import pandas as pd

##### 3.2. Create A series Object from a Python List

In [ ]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)
#string =>> object

In [ ]:
pd.Series(ice_cream)[1]

In [ ]:
number_12345 = [1,2,3,4,5]
pd.Series(number_12345)
#integer =>> int64

In [ ]:
leanboo = [True,False,True,False,True]
pd.Series(leanboo)
#Boolean =>> bool

##### 3.3. Create A series Object from a Python Dictionary

In [ ]:
sushi = {
    "Salmon" : "Orange",
    "Tuna" : "Red",
    "Eel" : "Brown"
}

pd.Series(sushi)

In [ ]:
pd.Series(sushi)["Tuna"]

In [ ]:
pd.Series(sushi)[1]

##### 3.4. Methods + Series
- The purpose of the Methods is to action something to the object itself.
    ex. #.upper(), #.append(), #.sum(), #.mean()

In [ ]:
"hello".upper()

In [ ]:
values = [1,2,3]
values.append(4)

In [ ]:
values

In [ ]:
prices = pd.Series([2.99,4.45,1.36])

In [ ]:
prices

In [ ]:
prices.sum()

In [ ]:
prices.product()

In [ ]:
prices.mean()

In [ ]:
prices.sort_values()

In [ ]:
prices

##### 3.5. Intro to Attributes + Series
- The purpose of the Attributes is just to give you some piece of information of the underlying object.
#.size
#.is_unique
#.index 
#.values 
- !!! Attributes is no parenthesis ต่างจาก methods ที่มี parenthesis

In [ ]:
import pandas as pd
adjectives = pd.Series(["Smart", "Handsome","Charming", "Brilliant", "Humble"])

In [ ]:
adjectives

In [ ]:
adjectives.size

In [ ]:
adjectives.is_unique

In [ ]:
adjectives2 = pd.Series(["Smart", "Handsome","Charming", "Brilliant", "Humble","Smart"])

In [ ]:
adjectives2.is_unique

In [ ]:
adjectives2.values

In [ ]:
type(adjectives2.values)

In [ ]:
adjectives2.index

In [ ]:
type(adjectives2.index)

In [ ]:
adjectives2.dtype
# 'O' means Object

##### 3.6. Parameters and Arguments

In [ ]:
# Paramter - The name we give to an expected input 
# Argument - The concrete value that we provide to a parameter 

# Difficulty มีสาม options ให้เลือกคือ Easy, Medium, Hard 
# Difficulty จะถูกเรียกว่า Parameter 
# Easy, Medium, Hard จะถูกเรียกว่า Argument 

# Ex.อื่นๆ 
# Volume - 1 through 100 
# Subtitles - True, False

In [ ]:
fruits = ['Apple','Orange','Plum','Grape','Blueberry']
weekdays = ['Monday','Tuesday','Wednesday','Thursday','Friday']

pd.Series(fruits, weekdays)

#กด Shift+tab ในวงเล็บจะมี parameter=argument ขึ้นมาเช่น data=None, index=None เป็นต้น 
#pd.Series(
#    data=None,
#    index=None,
#    dtype: 'Dtype | None' = None,
#    name=None,
#    copy: 'bool' = False,
#    fastpath: 'bool' = False,
#) -> 'None


#ดังนั้น data (parameter) =fruits (argument), index (parameter)=weekdays (argument)

In [ ]:
pd.Series(weekdays, fruits)

In [ ]:
pd.Series(data=fruits,index=weekdays)
#more readable 
#กด Shift+tab ในวงเล็บจะมี parameter=argument ขึ้นมาเช่น data=None, index=None เป็นต้น 
#pd.Series(
#    data=None,
#    index=None,
#    dtype: 'Dtype | None' = None,
#    name=None,
#    copy: 'bool' = False,
#    fastpath: 'bool' = False,
#) -> 'None


#ดังนั้น data (parameter) =fruits (argument), index (parameter)=weekdays (argument)

In [ ]:
pd.Series(index=weekdays,data=fruits)

In [ ]:
pd.Series(index=weekdays,fruits)
#ไม่ได้เพราะ ถ้าไม่ระบุชื่อ parameter -> python จะจำเป็นลำดับ เช่น ตัวแรก คือ data ต่อมาคือ index ต่อมาคือ dtype เป็นต้น ทำให้ error 
#เพราะว่าเรามีการระบุ index = weekdays ไปแล้ว ทำให้ python ไม่รู้ว่า argument ที่ชื่อว่า fruit อยู่ใน parameter อะไร 

#pd.Series(
#    data=None,
#    index=None,
#    dtype: 'Dtype | None' = None,
#    name=None,
#    copy: 'bool' = False,
#    fastpath: 'bool' = False,
#) -> 'None

In [ ]:
pd.Series(fruits,index=weekdays)
# ทำได้เนื่องจาก python รับรู้ว่า parameter ตัวแรกเป็น data ซึ่งยังไม่ได้ถูกกำหนดโดย argument ใดใด 
# ทำให้ python แทนค่า argument = fruits ให้ parameter ตัวแรก ที่ชื่อ data

- code ควรจะทำให้คนอื่นอ่านง่าย เข้าใตง่าย ไม่ใช่ทำสั้นๆมา แต่อ่านไม่รู้เรื่อง

In [ ]:
pd.Series(index=weekdays)
#data=None by default, if we are not providing the argument in it

#pd.Series(
#    data=None,
#    index=None,
#    dtype: 'Dtype | None' = None,
#    name=None,
#    copy: 'bool' = False,
#    fastpath: 'bool' = False,
#) -> 'None

In [ ]:
pd.Series(fruits)
#index=None by default, ทำให้ถ้าเราไม่ได้ provide argument ให้ index -> python จะกำหนด index ให้เราเลย

- Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
) -> 'None'
Docstring:     
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Notes
-----
Please reference the :ref:`User Guide <basics.series>` for more information.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\users\windows11\anaconda3\envs\pandas_playground\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

In [ ]:
fruits2 = ['Apple','Orange','Plum','Grape','Blueberry','Watermelon']
weekdays2 = ['Monday','Tuesday','Wednesday','Thursday','Friday','Monday']

pd.Series(fruits2, weekdays2)
#Index ของ Series มีค่าซ้ำได้

##### 3.7. Import Series with the pd.read_csv function

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("pokemon.csv")
#ผลลัพธ์ข้างล่างเรียกว่า dataframe

In [ ]:
pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze()
#หรือ
pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze("columns") 
#อ่านง่ายกว่า 
#series - a container for one column of data 
#Dataframe - a set of columns 
#อย่างลืม [] ก่อนใส่ชื่อ column 

#.squeeze() methods เปลี่ยน dataframe object to series object

In [ ]:
#0       Bulbasaur
#1         Ivysaur
#2        Venusaur
#3      Charmander
#4      Charmeleon
#          ...    -> ตรงนี้ represent ว่ามี ข้อมูลมากมายอื่นๆ ตรงกลางนี้ 
#716       Yveltal
#717       Zygarde
#718       Diancie
#719         Hoopa
#720     Volcanion
#Name: Pokemon, Length: 721, dtype: object

In [ ]:
#จะโชว์แค่ 5 rows แรก และ 5 rows สุดท้าย เหตุผลคือ performanceดีกว่าโชว์ทั้งหมด 700 กว่า rows นี้แน่ๆ

In [ ]:
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze("columns")
#more readable

In [ ]:
pokemon

In [ ]:
google = pd.read_csv("google_stock_price.csv",usecols=["Stock Price"]).squeeze("columns")

In [ ]:
google

##### 3.8. Use the head and tail Methods to Return Rows from Beginning and End of Dataset

In [ ]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [ ]:
pokemon.head()
# 5 rows แรก by default

# Signature: pokemon.head(n: 'int' = 5) -> 'NDFrameT'
# Docstring:
# Return the first `n` rows.

In [ ]:
pokemon.head(8)
pokemon.head(n = 8)

In [ ]:
google.tail()
# last 5 rows by default


#Signature: google.tail(n: 'int' = 5) -> 'NDFrameT'
#Docstring:
#Return the last `n` rows.

In [ ]:
google.tail(n = 10)

##### 3.9. Passing Series to Python's Built-In Function

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [ ]:
pokemon

In [ ]:
google

In [ ]:
len(pokemon)
# ดูว่ามีกี่แถว (how many rows do we have?)

In [ ]:
len(google)

In [ ]:
type(pokemon)

In [ ]:
type(google)

In [ ]:
dir(pokemon)
#บอกว่า series นี้มี attributes และ Methods อะไรบ้างที่ใช้ได้

In [ ]:
type(dir(pokemon))
# จาก series กลายเป็น list

In [ ]:
pokemon._AXIS_LEN

In [ ]:
pokemon.__array__()

In [ ]:
sorted(pokemon)
# sorted in ascending order 
# ตาม A to Z,
# 1,2,3,...

In [ ]:
type(sorted(pokemon))
# จาก series กลายเป็น list

In [ ]:
sorted(google)

In [ ]:
list(pokemon)
# convert series object to python list object

In [ ]:

dict(pokemon)
# convert series object to python dictionary object
# key-value (key = index position of the pandas series) (value = respected values from that series) 

## Note ว่า Index lables ของ series สามารถมีค่าซ้ำได้ ->> ซึ่งถ้ามีค่าซ้ำจะแปลงเป็น dictionary ไม่ได้!!!

In [ ]:
max(pokemon)
# ได้ค่ามากสุด ถ้าเป็น Str จะได้ Alphabet ที่มีค่าสูงสุด

In [ ]:
max(google)

In [ ]:
min(google)

In [ ]:
min(pokemon)

##### 3.10. The sort_values Method

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")

In [ ]:
pokemon.sort_values()
#A to Z

In [ ]:
pokemon.sort_values().head(10)
# method chain

In [ ]:
pokemon.sort_values(ascending=True)

In [ ]:
pokemon.sort_values(ascending=False).head().tail(2).head(1)

In [ ]:
google.sort_values()
google.sort_values(ascending=True)
google.sort_values(ascending=False)

##### 3.11. The sort_index Method

In [ ]:
pd.read_csv("pokemon.csv", index_col="Pokemon")
#เลือก column โดยใช้ index_col เพื่อมาเป็น index แทนที่ python index

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze("columns")
#ใช้คำสั่ง squeeze เพื่อแปลง dataframe obj เป็น series obj

In [ ]:
pokemon.head()

In [ ]:
pokemon.sort_index()
pokemon.sort_index(ascending = True)
pokemon.sort_index(ascending = False)

##### 3.12. Check for Inclustion with Python's "in" Keyword

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

In [ ]:
"car" in "racecar"

In [ ]:
2 in [1,2,3]

In [ ]:
# ถ้าใช้ in keyword ในการหา ใน series
    # by default, in จะมองหา indexs ของ series นั้น ไม่ใช่ value 
"Bulbasaur" in pokemon
#--> จะเห็นได้ว่า result เป็น False เพราะมันไม่เจอค่าใน index  
#0     Bulbasaur
#1       Ivysaur
#2      Venusaur
#3    Charmander
#4    Charmeleon
#Name: Pokemon, dtype: object



# ให้ทำการเติม attribute .values ต่อท้าย เมื่อต้องการจะ looking for values ของ series

In [ ]:
100 in pokemon
100 in pokemon.index

In [ ]:
pokemon.values

In [ ]:
pokemon.values
"Bulbasaur" in pokemon.values 
'Lucario' in pokemon.values

##### 3.13. Extract Series Value by index Position 
- กรณีที่ Index เป็นตัวเลข Index position

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

In [ ]:
numbers = [1,2,3]
numbers[1]

In [ ]:
pokemon[0]

In [ ]:
pokemon[500]

pokemon[1500]

- ---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
File ~\anaconda3\envs\pandas_playground\Lib\site-packages\pandas\core\indexes\range.py:391, in RangeIndex.get_loc(self, key, method, tolerance)
    390 try:
--> 391     return self._range.index(new_key)
    392 except ValueError as err:

ValueError: 1500 is not in range

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
Cell In[39], line 1
----> 1 pokemon[1500]

File ~\anaconda3\envs\pandas_playground\Lib\site-packages\pandas\core\series.py:981, in Series.__getitem__(self, key)
    978     return self._values[key]
    980 elif key_is_scalar:
--> 981     return self._get_value(key)
    983 if is_hashable(key):
    984     # Otherwise index.get_value will raise InvalidIndexError
    985     try:
    986         # For labels that don't resolve as scalars like tuples and frozensets

File ~\anaconda3\envs\pandas_playground\Lib\site-packages\pandas\core\series.py:1089, in Series._get_value(self, label, takeable)
   1086     return self._values[label]
   1088 # Similar to Index.get_value, but we do not fall back to positional
-> 1089 loc = self.index.get_loc(label)
   1090 return self.index._get_values_for_loc(self, loc, label)

File ~\anaconda3\envs\pandas_playground\Lib\site-packages\pandas\core\indexes\range.py:393, in RangeIndex.get_loc(self, key, method, tolerance)
    391         return self._range.index(new_key)
    392     except ValueError as err:
--> 393         raise KeyError(key) from err
    394 self._check_indexing_error(key)
    395 raise KeyError(key)

KeyError: 1500

In [ ]:
pokemon[[100,200,300]]
#เลือก indexที่ 100, 200, และ 300 มาโชว์

In [ ]:
pokemon[55:67]
# [55:67) ตั้งแต่ 55 แต่ไม่เกิน 67

In [ ]:
pokemon[:7]

In [ ]:
pokemon[700:]

In [ ]:
pokemon[-1]
#ใช้ค่าลบค่าเดียว
#ใช้ไม่ได้กับ series เหมือนที่ใช้ได้กับ list

In [ ]:
pokemon[-20:-10]
#แต่ถ้าใส่เป็นช่วง จะใส่ค่าติดลบได้

##### 3.14. Extract Series Value by Index Label
- กรณีที่ Index เป็นคำ เป็น label ไม่ใช่เลข postion

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze("columns")

In [ ]:
pokemon.head()

In [ ]:
pokemon[0]
#python รับรู้ถึง index ตำแหน่ง index position ที่ 0

In [ ]:
pokemon[[100,134]]

In [ ]:
pokemon["Bulbasaur"]
#python รับรู้ถึง index label ว่าคือ Bulbasaur
pokemon["Mewtwo"]
#python รับรู้ถึง index label ว่าคือ Mewtwo
pokemon[["Charizard","Jolteon","Meowth"]]

In [ ]:
pokemon["Digimon"]
pokemon["Pikachu","Digimon"]
#ถ้า Index label ไม่มี "Digimon" จะ return error ออกมา

##### 3.15. The "get" Method on a Series 
- The "GET" method is going to offer an additional advantage over the reglar bracket syntax [] 
- and it's going to aviod errors, and also allow you to specify a fallback value ในกรณีที่ the specified index postion or indexed label ไม่ปรากฎใน series

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze("columns")

In [ ]:
pokemon.head()

In [ ]:
pokemon.get(0)
pokemon.get("Bulbasaur")
pokemon.get([5,10])
pokemon.get(["Moltres","Meowth"])
#.get() method มันจะดีกว่า [] ธรรมดา เพราะว่า ถ้ามันไม่พบค่า มันจะไม่ return error จะ return เป็น nothing แทน เราจะได้ไมงงว่าสรุปมัน ไม่มีจริงๆ หรือทัน error ที่ส่วนอื่นๆไรงี้มั้ง 

#pokemon.get("Digimon")
# ไม่แสดงผลลัพธ์ (None)แสดงว่าไม่มี indexนี้อยู่ใน pokemon series

In [ ]:
type(pokemon.get("Digimon"))

In [ ]:
print(pokemon.get("Digimon"))

In [ ]:
pokemon.get("Digimon",None)
pokemon.get("Digimon","Nonexistent")
#ใช้ 2nd position argument ในที่นี้แทนค่าเป็น "Nonexistent" 
#เพื่อแสดงผลลัพธ์แทน ไม่มีผลลัพธ์ (None) ในกรณีที่ ไม่พบ "Digimon" index label ใน pokemon

In [ ]:
pokemon.get("Moltres","Nonexistent")

In [ ]:
pokemon.get([0,500,1000],"ไม่พบค่า")
#กรณีนี้มี Index position ที่ 0 และ 500 แต่ไม่มี 1000 ->> ผลลัพธ์ก็จะเป็น "ไม่พบค่า" อยู่ดี

##### 3.16. Overwrite a Series Value

In [ ]:
import pandas as pd 
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
pokemon.head()

In [ ]:
pokemon[0] = "Borisaur"
pokemon.head()

In [ ]:
pokemon[1500] = "Hello"
#เติม Index position ที่ 1500 ด้วยค่า "Hello"
#จำไว้ว่าระหว่าง Index position ที่ 721-1499 จะไม่ได้ถูก filled in ด้วย values ใดใดเลย และ 
#Length ของ pokemon series จะเพิ่มขึ้นตามจำนวนที่ทำการ add เข้าไปเพิ่ม เท่านั้น ->> ในที่นี้คือ 1 แถว แถวที่ index postion = 1500 
#Length ของ pokemon เพิ่มขึ้นเป็น 722 (0-720,1500) จาก 721 (0-720)
pokemon

In [ ]:
pokemon[[1,2,4]]

In [ ]:
pokemon[[1,2,4]] = ["Firemon","Flamemon","Blazemon"]
pokemon[[1,2,4]]

In [ ]:
pokemon.head()

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col="Pokemon").squeeze("columns")
pokemon.head()

In [ ]:
pokemon["Bulbasaur"] = "Awesomemon"

In [ ]:
pokemon[1] = "Grassmon"

In [ ]:
pokemon.head()

##### 3.17. The copy Method

In [ ]:
pd.read_csv("pokemon.csv")
#dataframe obj

In [ ]:
#from original dataframe
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
#covert to series 
pokemon_series = pokemon_df.squeeze("columns")

In [ ]:
pokemon_series

In [ ]:
pokemon_series[0]= "Whatever"
pokemon_series.head(1)

In [ ]:
pokemon_df 
#จะเห็นได้ว่าการเปลี่ยนแปลงค่าใน variable pokemon_series[0] = "Whatever" ส่งผลไปยัง Original Data ใน variable pokemon_df ด้วย
#!!!!!!! ต้องระวัง เพราะว่าอาจจะเกิด side effect ได้ใน program ของเรา ถ้าเราไม่รู้ว่าการเปลี่ยนแปลงค่าใน varaible หนึ่ง ส่งผลไปยัง variable หนึ่ง

#คำอธิบายให้เห็นภาพ
# Big House (แทนเป็น DataFrame) - large object 
# Door (ส่วนหนึ่งของบ้าน) (แทนเป็น Series) - small object 
# จะเห็นได้ว่า การที่เราพิจารณาไปที่ ประตู ( โฟกัสไปที่ series) แล้วทำการซ่อมประตู (ทำการเปลี่ยนค่าใน series) 
# ->>> มันก็หมายถึงเราซ่อมบ้าน (เปลี่ยนค่าใน Dataframe ) แต่แค่โฟกัสไปที่ ประตูของบ้านเราเฉยๆ (โฟกัสไปที่ series)

# Series คือหนึ่ง column ซึ่งมาจาก หลายๆ columns ของ DataFrame

In [ ]:
# Big House (แทนเป็น DataFrame) - large object 
# Door (ส่วนหนึ่งของบ้าน) (แทนเป็น Series) - small object 
# จะเห็นได้ว่า การที่เราพิจารณาไปที่ ประตู ( โฟกัสไปที่ series) แล้วทำการซ่อมประตู (ทำการเปลี่ยนค่าใน series) 
# ->>> มันก็หมายถึงเราซ่อมบ้าน (เปลี่ยนค่าใน Dataframe ) แต่แค่โฟกัสไปที่ ประตูของบ้านเราเฉยๆ (โฟกัสไปที่ series)

# Series คือหนึ่ง column ซึ่งเป็นส่วนหนึ่งจาก หลาย columns ของ DataFrame

#### เราจะใช้ .copy() method เพื่อ clone new object ที่เหมือน object เก่า แต่เป็นอิสระ independent จาก original data

In [ ]:
#from original dataframe
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
#covert to series + "copy.() Method เพื่อ Seperate pokemon_series ออกจาก pokemon_df dataframe ที่เป็น original data"
pokemon_series = pokemon_df.squeeze("columns").copy()
#หลังจากนี้ เมื่อเราเปลี่ยนแปลงอะไรใน pokemon_series มันจะไม่กระทบ pokemon_df แล้ว หลังจากใส่ .copy() เข้าไป

In [ ]:
pokemon_series[0] = "Whatever"

In [ ]:
pokemon_series.head(1)

In [ ]:
pokemon_df

##### 3.18. The inplace Parameter

จะขอกล่าวถึงวิธีการแทนที่ variable ด้วยการใช้วิธีแบบดั้งเดิมก่อน คือ 
1. วิธีทั่วไป คือเราจะ assign ค่าใหม่ลงไปใน variable โดย "วิธีการเขียนแทนค่าทับลงไปใน variable เดิม"
-  google = google.sort_values()
2. วิธีใช้ inplace parameter ในการ assign ค่าใหม่ลงไปใน variable โดยไม่ต้องใช้วิธี "วิธีการเขียนแทนค่าทับลงไปใน variable เดิม"
-  prerequisite คือ 
    - ก่อนจะใช้ inplace parameter, prerequisite ที่ต้องใช้เลยคือ .copy() method
        - เพราะ เราต้องการแยก object ให้เป็นอิสระจาก Original data ที่เป็น DataFrame

In [ ]:
#1. วิธีทั่วไป คือเราจะ assign ค่าใหม่ลงไปใน variable โดย "วิธีการเขียนแทนค่าทับลงไปใน variable เดิม"
import pandas as pd
import numpy as np
google = (
    pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
    .squeeze("columns")
)

google

In [ ]:
#1. วิธีทั่วไป คือเราจะ assign ค่าใหม่ลงไปใน variable โดย "วิธีการเขียนแทนค่าทับลงไปใน variable เดิม"
google = google.sort_values()
google.head()

In [ ]:
google

In [ ]:
#2. วิธีใช้ inplace parameter ในการ assign ค่าใหม่ลงไปใน variable โดยไม่ต้องใช้วิธี "วิธีการเขียนแทนค่าทับลงไปใน variable เดิม"
# prerequisite คือ
# ก่อนจะใช้ inplace parameter, prerequisite ที่ต้องใช้เลยคือ .copy() method
# เพราะ เราต้องการแยก object ให้เป็นอิสระจาก Original data ที่เป็น DataFrame
# !!!! .copy()


google = (
    pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
    .squeeze("columns")
    .copy()
)


google

In [ ]:
google.head()

In [ ]:
#shift+tab หา inplace parameter
# by default, ค่าจะ = False ->> ถ้าเปลี่ยนเป็น True จะทำให้มัน assign ค่าลงใน google variable เลย โดยไม่ต้องเขียนทับ parameter เดิมแบบเก่า
google.sort_values(inplace=True)
# แต่ไม่ว่าจะวิธีแบบเก่าหรือแบบใหม่ ก็มีค่าเท่ากัน ไม่ได้มีความต่างอะไรในเรื่อง ความรวดเร็วของการประมวลผล หรือ memory efficiency

In [ ]:
google

In [ ]:
google.sort_index(inplace=True)

In [ ]:
google

In [ ]:
#ลองเอา .copy() ออก
google = (
    pd.read_csv("google_stock_price.csv", usecols=["Stock Price"])
    .squeeze("columns")
)


google

In [ ]:
google.sort_values(inplace=True)
#ผลลัพธ์ คือ error 
#ValueError: This Series is a view of some other array, to sort in-place you must create a copy ->>> ใช้ .copy() ซะ

In [ ]:
google2 = google.copy()
google2.sort_values(inplace=True)

In [ ]:
google2

##### 3.19. Math Methods on Series Objects

In [ ]:
import pandas as pd 
google = pd.read_csv("google_stock_price.csv", usecols= ["Stock Price"]).squeeze("columns")

In [ ]:
google.head()

In [ ]:
google

In [ ]:
google.count()
#ignore those missing values

In [ ]:
google.mean()
#average value 
#ค่าเฉลี่ย

In [ ]:
google.sum()
#sum all values

In [ ]:
google.product()
#คูณทุกค่าเข้าด้วยกัน

In [ ]:
google.std()
#standard deviation

In [ ]:
google.min()

In [ ]:
google.max()

In [ ]:
google.median()
#ค่ากลาง

In [ ]:
google.mode()

In [ ]:
google.describe()

##### 3.20. Broadcasting

In [ ]:
import pandas as pd 
google = pd.read_csv("google_stock_price.csv", usecols= ["Stock Price"]).squeeze("columns")
google.head()

In [ ]:
google+10
#เพิ่ม 10 เข้าไปในทุก row เลย

In [ ]:
google - 30

In [ ]:
google * 2

In [ ]:
google.add(10)

In [ ]:
google[0] + 10

##### 3.21. The values_counts Method

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col= "Pokemon").squeeze("columns")

In [ ]:
pokemon.head()

In [ ]:
pokemon.value_counts()
#default in descending oder
pokemon.value_counts(ascending=True).head()
pokemon.value_counts(sort = True) # เปิดให้มีการ sort ข้อมูล by default, sort จะ True อยู่แล้ว และเรียงแบบ descending order
#pokemon.value_counts(sort = False)# ปิดไม่ให้มีการ sort ข้อมูล ->> ทำให้ข้อมูลไม่ได้เรียงกัน 
#pokemon.value_counts( normalize= True)*100 #represent ในรูปของ %

##### 3.22. The apply Method

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col= "Pokemon").squeeze("columns")
pokemon

In [ ]:
len("Grass")

In [ ]:
pokemon.apply(5) #error, TypeError: 'int' object is not callable #expected ใน () ของ .apply() คือ function 
pokemon.apply(len("Grass")) #error, TypeError: 'int' object is not callable #expected ใน () ของ .apply() คือ function

In [ ]:
pokemon.apply(len)

In [ ]:
pokemon.apply() #expected ใน () ของ .apply() คือ function

In [ ]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass","Fire","Water"]:
        return "Classic"
    elif pokemon_type == "Normal":
        return "Boring"
    else: 
        return "TBD"

In [ ]:
pokemon.apply(rank_pokemon)

##### 3.23. The map Method 
- ใช้กับ associate object เช่น Dictionary

In [ ]:
pokemon = pd.read_csv("pokemon.csv", index_col= "Pokemon").squeeze("columns")
pokemon.head()

In [ ]:
mapping = {
    "Grass" : "Classic",
    "Fire" : "Classic",
    "Water": "Classic",
    "Normal":"Boring"
}

mapping_series = pd.Series(mapping)
mapping_series

In [ ]:
pokemon.map(mapping)

In [ ]:
pokemon.map(mapping_series)
#ตัวที่ไม่ได้ map จะขึ้น NaN

In [ ]:
pokemon.tail()

# Section 4 :  DataFrame (Introduction)
- Series = 1 dimensional data (rows + 1column) 1มิติ 
- DataFrame = 2 dimensional data (rows + columns) 2 มิติ

##### 4.1. Intro to DataFrame

In [ ]:
import pandas as pd

In [ ]:
nba = pd.read_csv("nba.csv")
#NaN = missing values 
nba

##### 4.2. Methods และ Attributes เทียบระหว่าง Series และ DataFrame

In [ ]:
import pandas as pd
nba = pd.read_csv("nba.csv")
s = pd.Series([1,2,3,4,5])

In [ ]:
#.head(), .tail() Methods
s.head()
nba.head()
#ใช้ได้เหมือนกัน ดึง 5 rows แรก 
s.tail()
nba.tail()
#ใช้ได้เหมือนกัน ดึง 5 rows สุดท้าย
s.head(n=1)
nba.head(n=1)
s.tail(n=2)
nba.tail(n=7)
#ใช้ได้เหมือนกัน ดึง rows ตามที่เราระบุค่า

In [ ]:
#.index Attribute
s.index
# ผลลัพธ์เป็น RangeIndex(start=0, stop=5, step=1)
nba.index
# RangeIndex(start=0, stop=458, step=1)

In [ ]:
#.values Attribute

s.values #series 
#ผลลัพธ์ 
#array([1, 2, 3, 4, 5], dtype=int64)

#array storing 1 array    


nba.values #dataframe 
#ผลลัพธ์
# array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
#        7730337.0],
#       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
#        6796117.0],
#       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
#        'Boston University', nan],
#       ...,
#       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
#       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
#       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

#array storing many array 
#many child lists ถูกเก็บใน 1 parent list

In [ ]:
s.shape #Series #5 rows 1 column

In [ ]:
s.hasnans

In [ ]:
nba.shape #DataFrame #458 rows 9 columns

In [ ]:
s.dtype # ใช้กับ Series ได้ เพราะ Series เป็น obj ที่มี 1 column และ values ใน column นั้นจะเป็น dtype ประเภทเดียวกัน 
#s.dtypes

In [ ]:
#nba.dtype  # ใช้กับ DataFrame ไม่ได้ เพราะ DataFrame เป็น obj ที่มี หลาย columns 
#และแต่ละ columns อาจจะมี Dtype คนละอย่างงกัน 
#'DataFrame' object has no attribute 'dtype'

nba.dtypes

In [ ]:
nba.head(2)

In [ ]:
s.hasnans # Has NaN หรือไม่ True คือ มี, False คือ ไม่มี
#nba.hasnans
    # 'DataFrame' object has no attribute 'hasnans'

In [ ]:
nba.columns
# s.columns
    # 'Series' object has no attribute 'columns'

In [ ]:
s.axes # 1 dimensional
# [RangeIndex(start=0, stop=5, step=1)]
# series มี Index แค่สำหรับ rows

nba.axes # 2 dimensional
#Index for rows 
    # [RangeIndex(start=0, stop=458, step=1)
    
# Index for columns
    # Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
    #        'College', 'Salary'],
    #       dtype='object')]

In [ ]:
s.info()

In [ ]:
nba.info()
# EX. 
    # 7   College   373 non-null    object 
    # หมายความว่า จาก 458 rows มี 373 rows ที่เป็น non-null ที่เหลือเป็น null

##### 3. Different between "Shared methods"

In [ ]:
revenue = pd.read_csv("revenue.csv", index_col="Date")
revenue

In [ ]:
s = pd.Series([1,2,3])
s.sum()

In [ ]:
# sum of all rows for each column
# axis = "rows", by default
# รวมผลลัพธ์ของทุกแถว ในแต่ละ column 
revenue.sum()
#or
revenue.sum(axis="rows") 
#or
revenue.sum(axis=0)
#or 
revenue.sum(axis="index")

In [ ]:
# รวมผลลัพธ์ของทุก columns ในแต่ละแถว 
revenue.sum(axis="columns")
revenue.sum(axis=1)

##### 4.4 เลือก 1 column จาก DataFrame
- มีสองวิธีด้วยกันคือ 
1. ใช้ Attributes 
    - .(dot) ตามด้วยชื่อ column ที่จะเลือก
    - EX .Name .Age .Salary
2. ใช้ square bracket [] 
    - EX ["Name"] ["Age"] ["Salary"] 

Recommendation : ให้ใช้วิธีที่ 2 ดีกว่า เพราะวิธีที่ 1 เวลาเจอกับ column ที่มีการเว้นวรรคคำในชือ จะมีปัญหา

In [ ]:
import pandas as pd
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.Name
    # nba.name # error # case-sensitive
nba.Salary

In [ ]:
type(nba.Name)
type(nba.Salary)
## จะได้ object type เป็น Series

In [ ]:
#สมมติว่า มีcolumn ชื่อ First Name โดยมีเว้นวรรคระหว่างคำ 
#จะทำใช้ Attribute แบบนี้ไม่ได้ 
#ให้ใช้ square bracket [] แทน

In [ ]:
nba["Name"]
#nba["name"] # error # case sensitve 
nba["Number"] 
#nba["First Name"] จะใช้ได้ หากมี column อยู่ใน DataFrame นี้

In [ ]:
nba["Salary"].tail()
nba["Salary"].mean()

##### 4.5. เลือก 2 or more columns จาก a DataFrame

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
# For 1 column , dtype = Series
nba["Name"] 

# For 2 columns ขึ้นไป ต้องใส่ array ซ้อน array หรือ [] ซ้อนใน [] อีกทีนึง เป็น [[]], dtype = DataFrame
nba[["Name","Salary"]]
#1. nba[["Name","Salary"]] 
#2. nba[["Salary","Name"]]
#1 vs 2 จะไม่เหมือนกัน อันแรก column Name จะขึ้นก่อน อันที่สอง column Salary จะขึ้นก่อน


# เราสามารถใส่ไว้ใน variable แล้วค่อยเรียกใช้ variable นั้นก็ได้ เพื่อความสะดวกในการ coding 
columns_to_select = ["Team","Age","Salary"]
nba[columns_to_select]

In [ ]:
# advance ->> ลองใช้ method กระทำ operation บน columns ที่ดึงมาจาก DataFrame
columns_to_select = ["Team","Age","Salary"]
nba[columns_to_select] 
nba_team_avg_age_salary = pd.DataFrame(nba[columns_to_select]
                           .groupby(["Team"])
                           .mean()
                           .sort_values(["Salary"], ascending = False))
nba_team_avg_age_salary
#การ Group by ตาม แต่ละทีม team  ต่างๆ และ เฉลี่ยอายุ และ เงินเดือนโดยเฉลี่ยของนักกีฬาในทีมนั้นๆ 
#และเรียงลำดับทีมที่ จ้างนักกีฬาที่มีค่าตัวแพงโดยเฉลี่ยเท่าไหร่ เรียงจากมากที่สุดไปน้อยที่สุด ตามลำดับ

##### 4.6. Add New column to DataFrame
- add แบบต่อท้าย column สุดท้าย 
    - nba["League"]="National Basketball Association" #โดย "League" column ต้องไม่มีอยู่ก่อนหน้านี้ ไม่งั้นจะเป็นการ assign ค่าทับ
- add ตามตำแหน่งที่ต้องการโดยใช้ .insert()
    - Ex. nba.insert(loc=3,column="Sport",value="Basketball")

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba["Sport"]="Basketball"
nba["League"]="National Basketball Association"
nba.head()
#python จะสร้าง column ใหม่ ต่อท้าย column สุดท้าย

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()


nba.insert(loc=3,column="Sport",value="Basketball")
#loc คือ เลข (int) ที่บอก location หรือ ตำแหน่งของ column ที่เราต้องการจะ insert column ใหม่เข้าไปแทรก 
#loc 0        1        2        >3<                
#### Name     Team     Number   >Sport<    


#column คือ ชื่อ column ที่ต้องการตั้ง
#value คือ ค่าที่ต้องการ assign ลง rows (*ทุก rows) ใน column นั้น

nba.insert(loc=7,column="League",value="National Basketball Association")
nba

#####  4.7. Create New Column from Existing Column

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba["Age in a Decade"] = nba["Age"]+10
nba["Age in a Decade"] = nba["Age"].add(10)
nba
# 2 บรรทัดข้างบน ให้ผลลัพธ์เหมือนกัน จุ้บๆ

In [ ]:
nba["Salary"] - 5000000
nba["Salary"].sub(5000000)
# 2 บรรทัดข้างบน ให้ผลลัพธ์เหมือนกัน จุ้บๆ
nba["New Salary"] = nba["Salary"].sub(5000000)

In [ ]:
nba["Weight"] * 0.4535
nba["Weight"].mul(0.4535)
# 2 บรรทัดข้างบน ให้ผลลัพธ์เหมือนกัน จุ้บๆ
nba["Weight in Kilograms"] = nba["Weight"].mul(0.4535)

In [ ]:
nba["Weight"] = nba["Weight"].mul(0.4535)
# เขียนทับ column เก่า ก็สามารถทำได้

In [ ]:
nba.head()

##### 4.8. A Review of the value_counts Method 
- การ count ค่าซ้ำ ใน column ที่เราเลือก

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba['Position'].value_counts()
# มีคนเล่นตำแหน่ง SG สูงสุด ด้วยจำนวน 102 คน 
#nba['Position'].value_counts(normalize=True)*100
# ซึ่งคิดเป็น 22.319475 % ของผู้เล่นทั้งหมด

In [ ]:
nba[["Salary","Position"]].value_counts()
#มีคนเงินเดือน 947276.0 $ จำนวนเยอะที่สุด ทั้งหมด 31 คน

#####  4.9. Drop DataFrame Rows with Null Values (NaN) with dropna Method

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.tail()

In [ ]:
nba.dropna().shape
# เหลือ (364, 9) จาก (458,9)
#การใช้ dropna() แบบนี้ มันจะลบทุก rows ที่พบ NaN ไม่สนว่าจะมาจาก column ไหน หรือ จะมี NaN กี่ตัวใน row นั้น 
#มันจะลบทิ้งทั้ง row เลย 
nba.dropna(how = "any") 
#ให้ผลลัพธ์เหมือนกับ nba.dropna() เพราะ how = "any" เป็นค่า default
nba.dropna(how = "all") 
# delete rows ที่พบว่า rows นั้นๆ มี every column value เป็น NaN หรือ Missing value
# จะลบแค่ rows ที่มี NaN ในทุก columns ตัวอย่างก็คือ rowsที่ 458 หรือ index postion = 457

In [ ]:
#ถ้าต้องการลบ rows ที่มี NaN โดยเราต้องการระบุ columns เอง สามารถทำได้ดังนี้
# Ex. ต้องการลบ rows ที่มี NaN values ใน column "College"
nba.dropna(subset = ["College"])
#จะเห็นว่า rows ที่พบ NaN ของ column College ได้หายไปแล้ว

# Ex. ต้องการลบ rows ที่มี NaN values ใน columns "College" หรือ column "Salary"
nba.dropna(subset = ["College", "Salary"])
#จะเห็นว่า rows ที่พบ NaN ของ column "College" จะถูกลบไป และ rows ที่พบ NaN ของ column "Salary" ได้หายไปแล้ว

##### 4.10. Fill in Missing DataFrame Values with the fillna Method

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.tail()

In [ ]:
#nba.fillna(0) = fil nba ทั้ง dataframe ด้วยค่า 0 
nba["College"].fillna("Unknown") #แทนค่า "Unknown" แทนที่ NaN ใน column "College" แต่ยังไม่ฝังลง nba 

#RECOMMENDED TO USE THIS METHOD ในการแทนค่าทับค่าเดิม เพราะ เข้าใจง่าย แต่ inplace ก็ใช้ได้เหมือนกัน 
nba["College"] = nba["College"].fillna("Unknown")


#NOT RECOMMENDED
nba["College"].fillna("Unknown", inplace=True)  
    #แทนค่า "Unknown" แทนที่ NaN ใน column "College" แบบ permanent ลงไปใน nba เลย
    #nba # จะเห็นได้ว่า มี unknown ฝังใน column college แล้ว  




nba

In [ ]:
#nba["Salary"].fillna(value=0, inplace=True)
nba["Salary"] = nba["Salary"].fillna(value=0)
nba.tail()

##### 4.11. the astype Method I

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba.tail()

# ถ้าทำการ import ข้อมูลเข้ามาผ่าน pandas โดยถ้า pandas มันเจอ NaN value เพียงตัวเดียวในไฟล์ CSV  
# mechanism ของมันจะเปลี่ยนข้อมูล integer เป็น floating point เพื่อให้สามารถรองรับค่า NaN ได้

# ยังไงก็ตาม, เราสามารถใช้ astype method ในการเปลี่ยนแปลง floating เป็น integer ได้

In [ ]:
nba["Age"].hasnans # False
#nba["College"].hasnans # True

#Attributes นี้มีไว้เช็คว่า series ที่เราเลือกมา มีค่า NaN ใน values หรือไม่ 
#ถ้าไม่มีขึ้น NaN จะขึ้นค่า false (expect ให้ได้ค่่านี้)
#ถ้ามีขึ้น NaN จะขึ้นค่า True 

#สาเหตุที่ต้องเช็ค เพราะว่า หากมี NaN ใน column อยู่ การใช้ astype เพื่อเปลี่ยน NaN เป็น integer จะ return error 
#เพราะ astype ไม่สามารถเปลี่ยน NaN เป็น integer หรือ floating values ได้

nba["Age"].astype("int")
#nba["Age"].astype(int) ทำได้เหมือนกัน ถ้า มี dtype นั้นมีอยู่ใน core Python programming language 

nba["Age"] = nba["Age"].astype(int)
#nba

In [ ]:
nba["Salary"].hasnans #ได้ค่า True หมายถึง มี NaN values อยู่ เราต้อง fillna ก่อน
#ไม่งั้น
    # nba["Salary"].astype("int") >>> ถ้า Salary column ยังมี value ที่เป็น NaN อยู่ จะทำให้การใช้ astype จะ return error ออกมา
    # IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer
    # ต้องทำการ nba["Salary"].fillna(0) เพื่อเติมเต็มค่า NaN ก่อน

nba["Salary"] = nba["Salary"].fillna(0)
nba["Salary"].hasnans
nba["Salary"].astype(int).astype(str) 
#Name: Salary, Length: 457, dtype: object

#####  4.12. the astype Method II (category)

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv").dropna(how = 'all')
nba.tail()

In [ ]:
nba.dtypes
nba.info()

In [ ]:
len(nba)

In [ ]:
nba["Position"].nunique()
#มี 5 unique values 
#เพราะมี unique values ไม่มากทำให้สามารถเลือกที่ะจัด catagory ให้ข้อมูล แยกตามแต่ละ unique value นี้ได้

In [ ]:
nba["Position"].astype("category")
#Categories (5, object): ['C', 'PF', 'PG', 'SF', 'SG']
nba["Position"] = nba["Position"].astype("category") 
nba.info()
# 2 บรรทัดข้างบนนี้คือการที่เรา assign ค่า nba["Position"] ที่มีการจัด category แล้ว ลงใน column เดิม
# เมื่อเราสังเกตตรงบริเวณการใช้ memory usage จะเห็นได้ว่า memory usage ลดลง 
# เนื่องจากการที่เราจัดกลุ่ม category ให้ data จะทำให้ python จะสามารถใช้งาน data ได้ง่ายและรวดเร็วมากขึ้น
# การจัดบ้านให้เป็นระเบียบก็ทำให้เราหาของเจอง่ายขึ้น จุ้บๆ

In [ ]:
nba["Team"].nunique() 
#มี ทีมทั้งหมด 30 ทีม จากข้อมูล457 แถวจะเห็นได้ว่า มีการกรอกข้อมูลซ้ำๆ เยอะมาก จะดีกว่ามั้ยถ้าเราจัด category ให้มัน 
#เราสามารถจัด category ได้โดย 
nba["Team"] = nba["Team"].astype("category")
#Categories (30, object): ['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets', 'Charlotte Hornets', ..., 'San Antonio Spurs', 'Toronto Raptors', 'Utah Jazz', 'Washington Wizards']
nba.info()

#จะเห็นได้ว่าหลังจากทำการจัด category ใน column ทีมเพิ่มอีก จะทำให้การใช้งาน memory ลดลงอีก ทำให้เราสามารถเรียกใช้งานข้อมูลได้เร็วขึ้น
#อย่างไรก็ตามข้อมูลที่เราเอามาใช้ nba.csv เป็นข้อมูลขนาดเล็ก ถ้าใหญ่กว่านี้เช่นมีเป็นล้าน rows พันๆ columns การลดการใช้งานของ memory จะทำให้เรา access เข้าถึงข้อมูลได้เร็วขึ้น อย่างเห็นได้ชัดเลยย


##### 4.13. Sort a DataFrame with the sort_values Method, Part I 
- sort คอลัมน์เดียว

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv")
nba.tail()

In [ ]:
#nba["Name"].sort_values() # A to Z ignore NaN
#nba["Salary"].sort_values() # ค่าน้อยไปมาก ignore NaN

import numpy as np
nba.sort_values(by = "Name") #Sort โดยใช้ column Name ascending order (by default)
nba.sort_values(by = "Name", ascending = True)
nba.sort_values(by = "Name", ascending = False) #Sort โดยใช้ column Name descending order เพราะเรากำหนด

nba.sort_values("Age") #Sort โดยใช้ column Age ascending order (by default) 
nba.sort_values("Age", ascending = False)

nba.sort_values("Salary", ascending = False)
nba.sort_values("Salary", na_position='last') # default = last เอา NaN ไว้ล่างสุด เรียงตาม index position 
nba.sort_values("Salary", na_position='first') # เอา NaN ขึ้นบนสุด เรียงตาม index position 
nba.sort_values("Salary", na_position='first',ascending = False)

## Sort more than one column 
#nba.sort_values(by = ["Position","Age"]) 
#Sort โดยใช้ column Position ก่อน แล้วตามด้วย Age | โดยเป็น ascending order (by default) ทั้งคู่
#nba.sort_values(by = ["Position","Age"],ascending = [True, False]) 
#Sort โดยใช้ column Position ก่อน แล้วตามด้วย Age | โดย Position เรียงตาม ascending order และ Age เรียงตาม Descending order

##### 4.14.  Sort a DataFrame with the sort_values Method, Part II
- sort หลายคอลัมน์

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba.tail()

In [ ]:
nba.sort_values(by = ["Team","Name"], ascending = True) # same as this ->>> #nba.sort_values(by = ["Team","Name"], ascending = [True, True]) 
nba.sort_values(by = ["Team","Name"], ascending = False) # same as this ->>> #nba.sort_values(by = ["Team","Name"], ascending = [False, False]) 

nba.sort_values(by = ["Team","Name"], ascending = [True, False])
nba.sort_values(by = ["Position","Salary"], ascending = True) # same as this ->>> #nba.sort_values(by = ["Position","Salary"], ascending = [True, True])
nba.sort_values(by = ["Position","Salary"], ascending = [False, True])

## Sort more than one column 
#nba.sort_values(by = ["Position","Age"]) 
#Sort โดยใช้ column Position ก่อน แล้วตามด้วย Age | โดยเป็น ascending order (by default) ทั้งคู่
#nba.sort_values(by = ["Position","Age"],ascending = [True, False]) 
#Sort โดยใช้ column Position ก่อน แล้วตามด้วย Age | โดย Position เรียงตาม ascending order และ Age เรียงตาม Descending order

##### 4.15.  Sort a DataFrame with the sort_index Method

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv",index_col="Name").dropna(how = 'all')
nba.tail()

In [ ]:
nba = nba.sort_values(by = ["Team","Name"], ascending = [True,True])
nba.head()
#สองรรทัดด้านบนจะทำให้มีการจัดเรียง order ตาม column Team *ascending order และ Name *ascending order ตามลำดับ
#จะเห็นได้ว่าเมื่อมีการเรียงลำดับเกิดขึ้น index postion ประจำ row นั้นๆ ไม่ได้เปลี่ยนไป 
#โดยจะไม่ได้เรียงจาก 0,1,2,...,454,455,456 แล้ว จะเรียงตาม ตาม column Team *ascending order และ Name *ascending order ตามลำดับ 

#การที่จะทำให้เกิดการจัดเรียงตาม index position แบบเดิม (0,1,2,...,454,455,456) ทำได้โดยใช้ sort_index 
nba = nba.sort_index()
#or 
nba = nba.sort_index( ascending = True)
nba

In [ ]:
nba = nba.sort_index( ascending = False) #ทำการ sort index แบบ descending order 
nba

##### 4.16. Rank values with the rank Method 
- ใช้ .rank() เพื่อบอกค่า  1st highest value, และ 2nd highest value ใน column นั้น

In [ ]:
import pandas as pd 
nba = pd.read_csv("nba.csv").dropna(how = 'all')
nba.head()

In [ ]:
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
#เปลี่ยน NaN to 0 
#float to int

In [ ]:
#จัด rank ใน column Salary #แบบที่เงินเดือนสูงสุดจะมีตัวเลข rank จำนวนเยอะสุด หรือ เป็น rank ท้ายสุด or เงินเดือนเยอะสุดได้ rank 452
nba["Salary"].rank().astype("int") 
#or nba["Salary"].rank(ascending=True).astype("int") 


#จัด rank ใน column Salary #แบบที่เงินเดือนสูงสุดจะมีตัวเลข rank จำนวนน้อยสุด or เงินเดือนเยอะสุดได้ rank 1 
nba["Salary Rank"] = nba["Salary"].rank(ascending=False).astype("int") 
nba

In [ ]:
# Check ผล โดยการเรียง column "salary" จาก มากไปน้อย เพื่อเช็คว่า เงินเดือนเยอะสุด มี Salary Rank = 1 หรือไม่
nba.sort_values(by = "Salary", ascending=False)

# Section 5 : DataFrame II (Filtering Data)

##### 5.1 This module's Dateset + Memory Optimization

In [ ]:
import pandas as pd 
df = pd.read_csv("employees.csv")
df.head(3)

In [ ]:
df.info()

In [ ]:
df["Start Date"] = pd.to_datetime(df["Start Date"])
#เปลี่ยน dtype ของ Start Date จาก str ที่มีformat ของ date เป็น datetime64
df.info()

In [ ]:
df.head(3)

In [ ]:
pd.to_datetime(df["Last Login Time"])
# จะเห็นได้ว่า ค่า default ของการเปลี่ยนแปลงจาก str ที่มีformat ของ time ex "12:42 PM"เป็นดังนี้
# Time จะเป็นตามค่าใน column "Last Login Time" /// แต่ date จะถูกเปลี่ยนเป็นวันที่ปัจจุบันที่เรารัน code   

df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df.head(3)

In [ ]:
df["Senior Management"] = df["Senior Management"].astype("bool")
df.head(3)

In [ ]:
df["Gender"] = df["Gender"].astype("category")
df.head(3)
df.info()
#ลด memory usage ลง โดยการจัดกลุ่ม category ทำให้เรียกใช้ขข้อมูลได้เร็วขึ้น

In [ ]:
import pandas as pd 

df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)
df.info()

##### 5.2 Filter A DataFrame Based on A condition

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df["Gender"] == "Male"
# ใช้ double equal (==) ในการเปรียบเทียบ 
# ระวังการใช้ single equal (=) เพราะมันจะ assign ค่า male แบบ broadcasting ลงทุกๆ rows ใน column "Gender"

df[df["Gender"] == "Male"]
#การใช้ df[df["xxx"]== "yyy"] 
#python จะรับรู้ว่าเราต้องการที่จะดึง value จาก column "xxx" ***โดยมีเงื่อนไขว่า จะเอาเฉพาะ rows ที่มีค่า "yyy" เท่านั้น

In [ ]:
mask = df["Team"] == "Finance"
df[mask]

In [ ]:
df[df["Senior Management"]]
## ถ้า column นั้น มี dtype เป็น bool (True or False) อยู่แล้ว 
## การที่เราไม่ใส่ ==, python จะดึงค่า Senior Management == True ให้เราเองโดยที่ไม่ต้องใส่

In [ ]:
mask = df["Team"] != "Marketing"
df[mask]
# filter Team ที่ไม่ใช่ "Marketing"

In [ ]:
df[(df["Salary"] > 100000)]

#filter คนที่มี เงินเดือนสูงกว่า 110000

In [ ]:
df[df["Bonus %"] < 1.5]
#filter คนที่มีได้ bonus น้อยกว่า 1.5 %

In [ ]:
mask = df["Start Date"] <= "1985-01-01"
#filter คนเริ่มงานก่อนวันที่ 1985-01-01 หรือเท่ากับ วันที่ 1985-01-01
df[mask]

##### 5.3 Filter DataFrame with more than one condition (AND - &) 
- and คือ ทุกconditions ต้อง True ทั้งหมด ถึงจะ filter ข้อมูลนั้นมา

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"
df[mask1 & mask2]
#ใช้คำว่า and ไม่ได้ =>> ต้องใช้ ampersand (&)

##### 5.4 Filter DataFrame with more than one condition (OR - | ) 
- or คือ มี condition ใด condition นึง True ก็จะ filter ข้อมูลตรงนั้นมา

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Senior Management"] #column นี้มี dtype เป็น bool 
mask2 = df["Start Date"] < "1990-01-01"
df[mask1 | mask2]

#จะได้พนักงานที่เข้าทำงานก่อน 1990-01-01 หรือ พนักงานที่เป็น Senior Management

In [ ]:
mask1 = df["First Name"] == "Robert"
mask2 = df["Team"] == "Client Services"
mask3 = df["Start Date"] > "2016-06-01"

df[mask1 & mask2 | mask3]
#ถ้าทำแบบนี้เราจะงงว่า python จะ evaluate อะไรก่อน ระหว่าง and หรือ or 
#เราสามารถใช้ parenthesis ในการจัดลำดับความสำคัญให้ python ได้ 
df[(mask1 & mask2) | mask3]
#จะทำ and ก่อน แล้วค่อยทำ or

##### 5.5 The .isin() Method 
- ใช้แทน or ได้

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Team"] == "Legal"
mask2 = df["Team"] == "Sales"
mask3 = df["Team"] == "Product"

df[mask1 | mask2 | mask3]

In [ ]:
mask = df["Team"].isin(["Legal","Sales","Product"])
#ใช้ .isin() method เพื่อหาว่า ใน column "Team" มีค่าอะไรบ้างที่ตรงกับค่าใน () ของ .isin() method
#ตัวอย่างนี้คือ จะหาว่า ใน  team ค่าไหนที่ตรงกับ Legal หรือ Sales หรือ Product บ้าง
#ถ้าค่าในทีมใน rows ใด ของ column "Team" ตรงกับ ค่าใดค่านึงใน .isin() ผลลัพธ์จะreturn boolean ค่า True ให้ rows นั้นๆ 
#เช่น row ที่ Index position = 999; ค่าใน column "Team" = Salse ซึ่งพบใน .isin() ก็จะได้ค่า True
#ถ้าค่าในทีมใน rows ใด ของ column "Team" ไม่ตรงกับ ค่าใน .isin() เลย ผลลัพธ์จะreturn boolean ค่า False ให้ rows นั้นๆ 
#เช่น row ที่ Index position = 0; ค่าใน column "Team" = Finance ซึ่งไม่พบใน .isin() ก็จะได้ค่า False




#โดยหลังที่เราทำ operation ด้านบนแล้ว เราจะได้ boolean เป็น True สำหรับ rows ที่มี values ดังนี้ "Legal","Sales","Product"
#หลังจากนั้นเราก็จะสามารถ filter rows ที่มี values "Legal","Sales","Product" ได้ โดยการทำ filtering ด้านล่างนี้
df[mask]




#โดยประโยชน์ของการใช้ .isin() method จะทำให้เรา adjust ค่าใน วงเล็บ () เพื่อเลือก filter values อื่นๆได้ง่ายกว่าการทำแบบ ด้านล่างนี้
#สมมติว่าเราต้องการ filter คนที่อยู่ Team Marketing เพิ่ม เราก็ต้องเพิ่ม code อีกหนึ่งบรรทัดเพื่อให้เข้า condition 
#รวมถึงต้องเพิ่ม mask4 ตอนสั่ง filter ด้วย  จาก df[mask1 | mask2 | mask3] ->>> df[mask1 | mask2 | mask3 | mask 4]
    #   mask1 = df["Team"] == "Legal"
    #   mask2 = df["Team"] == "Sales"
    #   mask3 = df["Team"] == "Product"
    # :(  mask4 = df["Team"] == "Marketing" #ต้อง code เพิ่มบรรทัดนี้
    #df[mask1 | mask2 | mask3 | mask 4] #ต้อง add mask4 ใน [] เพิ่ม 
    
#ทำแบบนี้ง่ายกว่าเพราะเราเติมแค่ "Marketing" ลงใน .isin() method แค่นั้น สมมติเราอยากเปลี่ยนเป็น condition อื่น เช่น Finance ก็แค่แก้ไขใน .isin() 
    # mask = df["Team"].isin(["Legal","Sales","Product","Marketing"])
    # df[mask]

##### 5.6 The .isnull() and .notnull() Methods

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask = df["Team"].isnull()
#ถ้าเจอ rows ที่มีค่า null values (NaN) จะ return True
#ถ้าเจอ rows ที่มีค่า ex. "Marketing", "Finance" จะ return False
df[mask] #filter ได้ rows ที่มี column "Team" เป็นค่า NaN

In [ ]:
df["Gender"].notnull()
#ถ้าเจอ rows ที่มีค่า ex. "Marketing", "Finance" (Not-null) จะ return True
#ถ้าเจอ rows ที่มีค่า null values (NaN) จะ return False
#df[condition] #filter ได้ rows ใน "Gender" column ที่ไม่มีค่า NaN มีแต่ Not-null values

##### 5.7 Check for inclusion within Range of Values with .between() Method

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
#ทำให้ไม่ต้องใช้สองบรรทัดด้านล่างนี้ เพื่อเปลี่ยน dtype : str ที่มี format datetime เป็น dtype : datetime 64
#df["Start Date"] = pd.to_datetime(df["Start Date"])
#df["Last Login Time"] = pd.to_datetime(df["Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df["Salary"].between(60000,70000) #series ของ boolean ที่แปลงค่ามาจาก column "Salary" โดยค่าที่อยู่ระหว่าง 60000-70000 จะ return True, else จะ return False
mask = df["Salary"].between(60000,70000)
df[mask] #filter ได้ DataFrame ที่มี พนักงานเงินเงือนระหว่าง 60000-70000

In [ ]:
df[df["Bonus %"].between(2.0,5.0)]

In [ ]:
df[df["Start Date"].between("1991-01-01","1992-01-01")]
#.between(lowerbound,upperbound)

In [ ]:
df[df["Last Login Time"].between("08:30AM","12:00PM")]

##### 5.8 Check for Duplicate DataFrame Rows โดยใช้ .duplicated() Method

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
#############
df = df.sort_values(by = ["First Name"]) #จะได้เห็นค่าซ้ำ 
#############
df.head(5)

In [ ]:
df["First Name"]

In [ ]:
df["First Name"].duplicated()
#แถวที่เป็นค่าซ้ำจะแสดงผล True

#โดยถ้าเรา filter โดย 
# df[df["First Name"].duplicated()] 
# เราจะได้แต่  rows ที่เป็นค่าซ้ำ 

df[df["First Name"].duplicated()]

In [ ]:
#การใช้ keep parameter with "last" argument ( keep = 'last') 
#จะทำให้ยึดว่าตัวซ้ำ index position มากสุด จะเป็นตัวจริง จะ return False ที่ index นั้น และ จะ return True ที่ index ค่าซ้ำที่เหลือ 

#การใช้ keep parameter with "last" argument ( keep = 'first') ## default  
#จะทำให้ยึดว่าตัวซ้ำ index position น้อยสุด จะเป็นตัวจริง =>> จะ return False ที่ index นั้น และ จะ return True ที่ index ค่าซ้ำที่เหลือ 
df[df["First Name"].duplicated(keep = 'last')]

In [ ]:
#การใช้ keep parameter with "False" argument ( keep = False) 
#จะ return ค่า True ให้ค่าซ้ำทุกตัว ## หมายความว่า ทุกตัวเป็นค่าซ้ำทั้งหมด ไม่มีตัวจริง 
df[df["First Name"].duplicated(keep = False)]

#การใช้ keep parameter with "True" argument ( keep = True) !!!!!! ไม่มี argument นี้ 
#keep must be either "first", "last" or False

##### การที่เราต้องการ convert ค่า bool ใน series ที่เราหยิบมา 
- ค่า True จะกลายเป็น False 
- ค่า False จะกลายเป็น True
##### สามารถทำได้โดยการ เติมเครื่องหมาย TILDE (~)

In [ ]:
 #เนื่องจากปกติ df["First Name"].duplicated(keep = False) จะให้ผลลัพธ์ True กับตัวที่มีค่าซ้ำ ถ้าเรา filter มันออกมา เราก็จะได้ แค่ rows ที่มีค่าซ้ำ
#เราก็แค่เติม ~ ไปข้างหน้ามัน เพื่อที่จะ เราจะได้ filter rows ที่ีไม่มีค่าซ้ำออกมา 

mask = ~df["First Name"].duplicated(keep = False)
df[mask] #จะได้ rows ที่ไม่มีค่าซ้ำ

##### 5.9 Delete Duplicate DataFrame Rows with the drop_duplicates Method

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
#############
df.sort_values(by = ["First Name"], inplace=True) #จะได้เห็นค่าซ้ำ 
#############
df.head(3)

In [ ]:
len(df)

In [ ]:
len(df.drop_duplicates())
#ถ้าทำงี้มันหมายความว่า ใน rows ที่จะซ้ำกัน ต้องมีค่าในแต่ละ columns เหมือนกันทั้งหมด 
#การทื่ได้ผลลัพธ์ 1000 เท่าเดิม แสดงว่าไม่มีการ rows ใด มีค่าซ้ำกันในทุก columns

In [ ]:
 df.drop_duplicates(subset=["First Name"], keep = "first")
#drop rows ใน DataFrame ที่มีค่าซ้ำกัน (keep first หรือ index postion ที่น้อยที่สุดของค่าซ้ำ) 
#โดยมองเฉพาะ values ใน column "First Name"

 df.drop_duplicates(subset=["First Name"], keep = "last")
#drop rows ใน DataFrame ที่มีค่าซ้ำกัน (keep last หรือ index postion ที่มากที่สุดของค่าซ้ำ) 
#โดยมองเฉพาะ values ใน column "First Name"

 df.drop_duplicates(subset=["First Name"], keep = False)
#drop rows ใน DataFrame ที่มีค่าซ้ำกันทุกค่าทิ้ง #โดยมองเฉพาะ values ใน column "First Name"

In [ ]:
df.drop_duplicates(subset=["Team"], keep = False)
#แต่ละทีม มีพนักงงานหลายคนที่ทำตำแหน่งเดียวกัน ทำไม values ใน column Team ไม่มี unique values อยู่เลย #ดังนั้นทำให้ค่าซ้ำจะโดนลบทั้งหมด 
#ผลลัพธ์คือ ตารางเปล่า 5555555555

In [ ]:
df.drop_duplicates(subset=["First Name","Team"])
#การมอง duplicate โดยมอง 2 columns

##### 5.10 Identify and Count Unique values with the unique and nunique Methods
- The .unique() and .nunique() Methods
- .nunique() คือ number of unique values

In [ ]:
import pandas as pd
df = pd.read_csv("employees.csv",parse_dates = ["Start Date", "Last Login Time"])
#ทำให้แปลงค่า str ที่มี format datetime ใน column  ["Start Date", "Last Login Time"] นี้ เป็น datetime64 เลยตั้งแต่ read_csv file เข้ามา
df["Senior Management"] = df["Senior Management"].astype("bool")
# str to boolean
df["Gender"] = df["Gender"].astype("category")
# จัด category ให้ "Gender" เพราะมีแค่ male and female
df.head(3)

In [ ]:
df["Gender"].unique()

In [ ]:
df["Team"].unique()

In [ ]:
len(df["Team"].unique()) 
#.unique() จะนับ null value ว่าเป็น unique value ด้วย

In [ ]:
df["Team"].nunique() #or df["Team"].nunique(dropna = True)
#by default, dropna = True : หมายความว่า จะไม่นับ null value เป็น unique value จะมองข้าม NaN ไป

#df["Team"].nunique(dropna=False)
#by default, dropna = False: หมายความว่า จะนับ null value (NaN) เป็น unique value ด้วย

# Section 6 : DataFrame III (Data Extraction)

##### 6.1  Intro to the DataFrame III Module + Import Dataset

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

###### 6.2 Use the set_index and reset_index methods to define a new DataFrame index

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv") 
bond.head(3)

In [ ]:
bond.set_index("Film", inplace = True)
bond.head(3)

In [ ]:
bond.head(3)

In [ ]:
bond.reset_index() 
#same as 
#bond.reset_index(drop = False)
#หมายความว่า เราจะ reset ให้ index กลับไปเป็น index ที่เราตั้งไว้ตั้งแต่ตอนแรกเลย 
#drop = False เป็น default value, ซึ่งหมายความว่า  เราจะไม่ลบ index label ทิ้ง 
#Ex. เรา มีการ bond.set_index("Film", inplace = True) เราจะได้ index label เป็น column "Film" 
    #การที่เราใช้ bond.reset_index(drop = False) มันจะไม่ลบ column "Film" ทิ้ง

#####################
#bond.reset_index(drop = True)
#หมายความว่า เราจะ reset ให้ index กลับไปเป็น index ที่เราตั้งไว้ตั้งแต่ตอนแรกเลย 
#drop = True หมายความว่า  เราจะลบ index label ทิ้ง 
#Ex. เรา มีการ bond.set_index("Film", inplace = True) เราจะได้ index label เป็น column "Film" 
    #การที่เราใช้ bond.reset_index(drop = True) มันจะลบ column "Film" ทิ้งไปเลย
    
    
bond.reset_index(drop = False, inplace = True)

In [ ]:
bond.head(3)

In [ ]:
bond.set_index("Film", inplace = True)
bond.head(3)

In [ ]:
##ระวังไว้ว่าการที่เรา set_index โดยจะเลือก column ใหม่เป็น "Year" แทน "Film"
##python มันจะ remove column "Film" ทิ้งไปเลย ข้อมูลเราก็จะหายไป  
bond.set_index("Year")


##แล้วจะทำอย่างไรให้ "Film" column ไม่หายไป ???
##คำตอบคือ ให้เราทำการ reset_index() ก่อน แล้วค่อย set_index ใหม่ 
bond.reset_index(inplace=True)
bond.set_index("Year", inplace=True)
bond.head(3) ##จะเห็นว่าเราได้ "Film" column กลับมา และ "Year" column กลายเป็น index label

##### 6.3 Retrieve Rows by Index Label with Ioc Accessor

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv",index_col ="Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.loc["Goldfinger"]
bond.loc["GoldenEye"]
## if index label นั้น "ไม่มี" ค่าซ้ำ มันจะแสดงผลเป็น series

In [ ]:
bond.loc["Casino Royale"]
## if index label นั้น "มี" ค่าซ้ำ มันจะแสดงผลเป็น DataFrame

In [ ]:
bond.loc["Diamond Are Forever" : "From Russia with Love"]

In [ ]:
bond.loc["Diamond Are Forever" : "From Russia with Love"]

In [ ]:
bond.loc["Diamond Are Forever" : "From Russia with Love":2]
#:2 หมายความว่า มันจะกระโดดข้ามไปทีละ 2 rows 
    #จาก   Diamonds Are Forever จะไป Dr. No และ จะไป From Russia with Love
#:3 หมายความว่า มันจะกระโดดข้ามไปทีละ 3 rows
    #จาก    Diamonds Are Forever จะไป For Your Eyes Only และจะจบตรงนี้ 
    #เพราะเรากำหนดขอบเขตไว้ว่าถึงแค่ From Russia with Love ทำให้การขยับไปอีก 3 rows จะไม่เจอค่าอะไร

In [ ]:
bond.loc["GoldenEye":] #จาก "GoldenEye" to the end of index label  
bond.loc[:"GoldenEye"] #เริ่มต้น Index label ที่ตัวแรกไปจนถึง "GoldenEye"
bond.loc["GoldenEye"::2] #เริ่มต้น Index label ที่ตัวแรกไปจนถึง "GoldenEye" โดย steps ทีละ 2 rows

In [ ]:
bond.loc[["Die Another Day","Octopussy"]]# "Die Another Day"ขึ้นก่อนตามด้วย "Octopussy"
bond.loc[["Octopussy","Die Another Day"]]# "Octopussy"ขึ้นก่อนตามด้วย "Die Another Day"

In [ ]:
bond.loc[["Octopussy","Die Another Day","James"]] # error เพราะไม่มี index label "James"

In [ ]:
"James" in bond.index # check ว่ามี Index label มั้ย

##### 6.4 Retrieve Rows by Index Postion with iIoc Accessor

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

In [ ]:
bond.iloc[0] 
# extract DataFrame to get only an index 0 # dtype series เพราะ 1 dimensional  
bond.iloc[5:15] # [5:15)
# extract DataFrame from index:5 to index:14 # dtype DataFrame เพราะ 2 dimensional  
bond.iloc[[15,20]] 
# extract DataFrame to get only index 15 and 20 # dtype DataFrame เพราะ 2 dimensional

In [ ]:
bond.iloc[20:] 
bond.iloc[:4] # [0:4)

In [ ]:
bond.set_index("Film",inplace =True)
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
bond.loc["GoldenEye"]

In [ ]:
bond.iloc[15] #แม้ว่าจะใช้ index เป็น label แทน index position แล้ว ก็สามารถใช้ iloc ได้เช่นกัน
bond.iloc[:20]  # [0:20)
bond.iloc[15:]  # [15:]
bond.iloc[[5,10,15,20]]

In [ ]:
#bond.iloc[[5,10,15,20,10000]] #จะ error ถ้าหากว่าไม่มี index position นั้นอยู่ ซึ่งในที่นี้คือ 10000 โดยเรามีไม่ถึง 10001 rows

##### 6.5 Passing second arguments to the loc and iloc Acessor

In [ ]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
# First Argument คือ Argument ที่เราระบุุ เพื่อให้ extract rows ที่มี index label ตามที่เราระบุออกมา
# Second Argument คือ Argument ที่เราระบุว่า จะให้ extract column ใดออกมา 

#เลือก column แบบ specific 
#case1: 1 row, 1 column 
bond.loc["A View to a Kill","Year"]  

#case2: 1 row, multiple columns 
bond.loc[["A View to a Kill"],["Year", "Actor"]] 

#case3: multiple rows, 1 colum
bond.loc[["A View to a Kill","Moonraker"],["Director"]] 

#case4: multiple rows, multiple columns
bond.loc[["A View to a Kill","Moonraker","Casino Royale"],["Actor","Budget"]] 


#เลือก column แบบ Slicing 
#Slicing แค่ columns (Second Argument) 
bond.loc["A View to a Kill", "Actor" : ]
bond.loc["Casino Royale", "Actor" : "Box Office"]

#Slicing ทั้ง rows (first argument) และ columns (Second Argument) 
bond.loc["A View to a Kill" : "Dr. No","Year" : ]

In [ ]:
#iloc

# First Argument คือ Argument ที่เราระบุุ เพื่อให้ extract rows ที่มี index position ตามที่เราระบุออกมา
# Second Argument คือ Argument ที่เราระบุว่า จะให้ extract column ใดออกมา 

#เลือก column แบบ specific 
#case1: 1 row, 1 column 
bond.iloc[1,2]
    
#case2: 1 row, multiple columns 
bond.iloc[[5],[0,2,4]]

#case3: multiple rows, 1 column
bond.iloc[[5,10,15,20],[4]] 

#case4: multiple rows, multiple columns
bond.iloc[[5,10,15,20],[0,1,3]] 


#เลือก column แบบ Slicing 
#Slicing แค่ columns (Second Argument) 
bond.iloc[[5,10,15,20],0:]
bond.iloc[[5,10,15,20],3:-10]
#Slicing ทั้ง rows (first argument) และ columns (Second Argument) 
bond.iloc[5:-10,3:10]

##### 6.6 Set New Value for a Specific Cell or Cells In a Row

In [ ]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
#Assign values ลงในข้อมูลที่เราทำการ Extract มา 

#แบบทีละ column
bond.loc["Dr. No" , "Actor"] #ค่าเดิม 'Sean Connery'
bond.loc["Dr. No" , "Actor"] = "Sir Sean Connery"
bond.loc["Dr. No" , "Actor"] #check ค่าใหม่

#แบบทีละ หลาย columns 
bond.loc["Dr. No" , ["Box Office", "Budget","Bond Actor Salary"]] = [448000000,7000000,600000]
bond.loc["Dr. No" , ["Box Office", "Budget","Bond Actor Salary"]]

In [ ]:
bond

##### 6.7 Set Multiple Values in a DataFrame 
    - แตกต่างจาก 6.6 คือ กรณีที่เราไม่ต้องการ assign ค่าเดิม ซ้ำๆหลายๆรอบ 
    - Ex. values ใน "Actor" column มี values ที่เป็น Sean Connery หลาย rows มาก 
    - ถ้าเราต้องการจะเปลี่ยน Sean Connery เป็น ชื่ออื่น ทั้งหมดเลยจะทำยังไง 
    
- Ans คือ 
1. เราต้องทำให้ column นั้น แสดงว่า Sean Connery มีค่า True ก่อน
- bond["Actor"] == "Sean Connery" 

2. assign variable ให้ bond["Actor"] == "Sean Connery"  
- actor_is_sean_connery = bond["Actor"] == "Sean Connery"

3. ใช้ .loc[] Accessor ในการค้นหา "Actor" column ผ่าน actor_is_sean_connery
- bond.loc[actor_is_sean_connery,["Actor"] ]

4. assign ค่าให้ที่ต้องการจะเปลี่ยนให้ bond.loc[actor_is_sean_connery,["Actor"] ]
- bond.loc[actor_is_sean_connery,["Actor"] ] = "Sir Sean Connery"

In [ ]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)
bond.head(3)

In [ ]:
actor_is_sean_connery = bond["Actor"] == "Sean Connery"
actor_is_sean_connery

In [ ]:
bond[actor_is_sean_connery]

In [ ]:
bond[actor_is_sean_connery]["Actor"] = "Sir Sean Connery"
#ไม่ได้เพราะ bond[actor_is_sean_connery] มันคือ a copy of a slice from a DataFrame.
#ไม่ใช่ตัวจริง

In [ ]:
bond.loc[actor_is_sean_connery,["Actor"] ]

In [ ]:
bond.loc[actor_is_sean_connery,["Actor"] ] = "Sir Sean Connery"
bond

##### 6.8 Rename Index Lables or Columns in a DataFrame

In [ ]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)
bond

In [ ]:
#เปลี่ยนชื่อ index label โดยใช้ .rename(mapper = {:})

# mapper จะทำการ map ไปที่คำว่า "GoldenEye" (key) ใน Index label 
# โดย by defaut (axis = 0 or axis = "rows" or axis = "index"); 
# และทำการ rename ค่าเป็น "Golden Eye" (value) 
# ใช้ key : value pair ของ dictionary  
bond.rename(mapper = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough": "Best Bond Movie Ever"})
bond.rename(mapper = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough": "Best Bond Movie Ever"}, axis = 0)
bond.rename(mapper = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough": "Best Bond Movie Ever"}, axis = "rows")
bond.rename(mapper = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough": "Best Bond Movie Ever"}, axis = "index")
#ทั้ง 4อันข้างบน ให้ผลลัพธ์เหมือนกัน 


##################################################
#เปลี่ยนชื่อ index label โดยใช้ .rename(index = {:})

#note ว่าเมื่อเราใส่ index parameter แล้ว, เราไม่ต้องใส่ axis = "index"
bond.rename(index = {"GoldenEye" : "Golden Eye",
                      "The World Is Not Enough": "Best Bond Movie Ever"},inplace = True)
bond

In [ ]:
#เปลี่ยนชื่อ columns โดยใช้ .rename(columns = {:})
bond.rename(columns = {"Year" : "Release Date",
                       "Box Office": "Revenue"},inplace = True)
bond.head(1)

In [ ]:
# การเปลี่ยนชื่อทั้ง column headers 
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]
# length list ของ columns ใหม่ที่เราการเปลี่ยน ต้อง identical หรือมีค่าเท่ากันกับ length list ของ columns เดิม
# ex. ['Release Date', 'Actor', 'Director', 'Revenue', 'Budget','Bond Actor Salary'] มี length = 6
# bond.columns = [a,b,c,d,e,f] /// length นี้ ต้องเป็น 6 ด้วย ห้ามเยอะกว่าหรรือน้อยกว่า ex [a,b,c] or [a,b,c,d,e,f,g,h,i]
bond.head(1)

##### 6.9 Delete Rows or Columns from a DataFrame 
- .drop()
    - drop rows : bond.drop("Casino Royale", inplace = True)
    - drop columns : bond.drop(["Year","Director"],axis = "columns", inplace = True)
- .pop()
    - bond.drop("Casino Royale", inplace = True)
- del bond["Year"]

In [ ]:
import pandas as pd
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace = True)
bond

In [ ]:
#Delete rows
bond.drop("Casino Royale", inplace = True)
bond.head()

In [ ]:
#Delete Columns
bond.drop(labels = ["Box Office","Actor"],axis = 1, inplace = True)
# same as or bond.drop("Box Office",axis = "columns")

In [ ]:
director = bond.pop("Director")
bond.head(3) #จะเห็นได้ว่า "Director" column หายไปแล้ว 
#แต่เรายังสามารถดูข้อมูล column director ที่ .pop ไป ได้ผ่าน director variable

In [ ]:
director

In [ ]:
# เติม column Director เข้าไปใหม่ 
#bond["Director"] = director
#bond.head(3)
bond.insert(loc=1,column="Director",value=director)
bond.head()

In [ ]:
#ลบ Director column อีกรอบ 
del bond["Director"]

In [ ]:
bond.head(3)

In [ ]:
#ลบ "Year" column อีกรอบ 
del bond["Year"]
bond.head(3)

In [ ]:
del bond["Budget"]
bond.head(3)

##### 6.10 Create Random Sample with sample Method
- สุุ่ม rows มา (by default = 1 row)
    - #bond.sample() 
- สุ่ม columns ขึ้นมา โดยต้องกำหนด axis = 1 or axis = "columns"
    - #bond.sample(n=3, axis = "columns")

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head()

In [ ]:
bond.sample(n=5)
bond.sample(frac=.25) # สุ่มมา 25% ของ rows ทั้งหมด

In [ ]:
bond.sample(n=3,axis = 1) #สุ่ม columns มา 3 columns
#bond.sample(n=3, axis = "columns")

##### 6.11 The .nsmallest() and .nlargest() methods
- extract smallest values and largest values in a specific column

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
bond.sort_values("Box Office", ascending = False).head(3)

In [ ]:
## columns ที่เลือกต้อง contain dtype ที่คำนวณได้ พวก str จะใช้ nlargest nsmallest ไม่ได้
bond.nlargest(3,columns = "Box Office") # top 3 ที่มีค่าสูงสุด
bond.nsmallest(n=4,columns = "Box Office") # top 4 ที่มีค่าต่ำสุด

In [ ]:
bond["Budget"].nlargest(3)
#ไม่ต้องระบุ columns parameter ใน nlargest แล้ว เพราะเราใช้ bond["Budget"] ไปแล้ว 

bond["Year"].nsmallest(2)

##### 6.12 Filter a DataFrame with a where method

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
mask = bond["Actor"] == "Sean Connery"
bond[mask]

In [ ]:
#the other way to filter dataframe is to use where method 
mask = bond["Actor"] == "Sean Connery"
bond.where(mask)
#แต่การใช้ where มันจะ return ทั้ง entire DataFrame 
#โดย rows ไหนของ "Actor" column ที่ไม่ได้มีค่าเป็น "Sean Connery"
#จะ return NaN ออกมา

In [ ]:
bond.where(bond["Box Office"] > 800)

In [ ]:
mask2 = bond["Box Office"] > 800

In [ ]:
bond.where(mask & mask2)

##### 6.13 Filter A DataFrame with the query method
- .query() method มี prerequisites สองข้อหลักๆ คือ 
    1. Argument ใน .query() ต้องเป็น string เท่านั้น 
    2. ชื่อ columns ห้ามมี space เลย

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
#ก่อนอื่นเราจะ check ก่อนว่าชื่อ columns ของเรามี blankspace มั้ย ถ้ามีให้แก้ไขโดยใช้ .replace() เปลี่ยน " " เป็น "_" (snake-case)
bond.columns = [column_name.replace(" ","_") for column_name in bond.columns]
bond.head(1)

In [ ]:
bond.query('Actor == "Sean Connery"')
bond.query("Director == 'Terence Young'")
bond.query('Actor != "Roger Moore"')
bond.query(" Box_Office > 600 ")
4
bond.query("Actor == 'Roger Moore' and Director == 'John Glen'")
bond.query("Actor == 'Roger Moore' or Director == 'John Glen'")

bond.query("Actor in ['Timothy Dalton','George Lazenby']" )
bond.query("Actor in ['Sean Connery','Roger Moore']" )

##### 6.14 A Review of the .apply() Method on Single Columns

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
def convert_to_str_and_add_Millions(number):
    return str(number)+ "MILLIONS!"

In [ ]:
bond["Box Office"] = bond["Box Office"].apply(convert_to_str_and_add_Millions)
bond["Budget"] = bond["Budget"].apply(convert_to_str_and_add_Millions)

In [ ]:
bond

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

#ใช้ for-loop 
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(convert_to_str_and_add_Millions)
    
bond.head(3)

##### 6.15 Apply a Function to every DataFrame Row with the apply Method

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
#สร้าง function ที่บอกว่า movie เรื่องไหนบ้าง ที่ดีสำหรับเรา
#โดย function นี้จะ check 
def good_movie(row):
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosman":
        return "The Best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else : 
        return "I have no clue"

    
#เราต้องการใช้  good_movie function โดยใส่ค่า row ใน bond dataframe ไปทีละ row 
#แล้วให้ good movie เช็คใน row นั้น ทีละ column จนครบค่อยไป row ถัดไป 
#สามารถทำได้โดย เอา การใช้ statement ด้านล่างนี้
bond.apply(good_movie, axis = "columns")
#จะเห็นได้ว่าเรามีการใช้ axis = "columns" เพราะว่า เราต้องการให้ ood movie เช็คใน row นั้น ทีละ column 




## axis = "rows" จะมองที่ หนึ่ง column แล้วค่อยๆไล่ไปทีละ row ใน column นั้น   
## axis = "columns" จะมองที่ หนึ่ง row แล้วค่อยๆไล่ไปทีละ column ใน row นั้น

##### 6.16 สร้าง a Copy of a DataFrame with the copy Method

In [ ]:
import pandas as pd 
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)

In [ ]:
director = bond["Director"] 
director.head(3)

In [ ]:
# if i want to change John Glen to become Mr. John Glen
director["A View to a Kill"] = "Mr. John Glen"
#จะได้ output แจ้งเตือนว่าเรากำลังเปลี่ยนแปลง a copy of a slice from a DataFrame นะ

In [ ]:
#้However, the value have been changed to "Mr. John Glen" as we expected
#but because this Series is part of the larger DataFrame ทำให้มันกระทบไปที่ bond dataframe ด้วย 
#จำเรื่อง บ้าน ประตูบ้าน การเปลี่ยนประตู ก็คือการเปลี่ยนแปลงบ้าน
director["A View to a Kill"]
bond.head(3)

In [ ]:
###########
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace=True)
bond.head(3)
###########


#แต่ถ้าเราไม่อยากการแก้ไข Series กระทบมายัง original dataframe ของเราล่ะ ? 
#เราต้องใช้ .copy() เพื่อสร้างตัว copy ขึ้นมาก่อน แล้วแก้ตัว copy นั้น
director = bond["Director"].copy() 
director.head(3)

In [ ]:
director["A View to a Kill"] = "Mister John Glen"

In [ ]:
#ผลลัพธ์ของ director series จะถูกแก้ไข แต่การแก้ไข director series จะไม่กระทบ Original dataframe 
director.head(3)

In [ ]:
#ผลลัพธ์ของ director series จะถูกแก้ไข แต่การแก้ไข director series จะไม่กระทบ Original dataframe 
bond.head(3)